<header>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" />
    <div class="header">
        <div class="inner_header">
            <a class="logo_container" href="/">
                <img src="/static/images/logo.png" alt="Главная">
            </a>
            <div>
                <div>
                    <a href="{{switchLocaleUri 'ru' req.originalUrl}}">
                        Русский
                    </a>
                    <a href="{{switchLocaleUri 'en' req.originalUrl}}">
                        English
                    </a>
                </div>

                {{#unless req.user}}
                    <a href="{{uriWithLocale 'login'}}">
                        <li><span>{{__ 'login'}}</span></li>
                    </a>
                {{else}}
                    <a href="/logout">
                        <li><span>{{__ 'logout'}}</span></li>
                    </a>
                {{/unless}}
            </div>
            <nav>
                <ul class="navigation">
                    <a href="{{uriWithLocale 'about'}}">
                        <li>{{__ 'about'}}</li>
                    </a>
                    <a href="{{uriWithLocale 'news'}}">
                        <li>{{__ 'news'}}</li>
                    </a>
                    <a href="{{uriWithLocale 'events'}}">
                        <li>{{__ 'events'}}</li>
                    </a>
                    <a href="{{uriWithLocale 'programs'}}">
                        <li>{{__ 'programs'}}</li>
                    </a>
                    <a href="{{uriWithLocale 'projects'}}">
                        <li>{{__ 'projects'}}</li>
                    </a>
                    <a href="{{uriWithLocale 'library'}}">
                        <li>{{__ 'library'}}</li>
                    </a>
                </ul>
            </nav>
        </div>
    </div>
</header>
