<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<div class="about-container">
    <div class="shortinfo-block">
        <div class="main-header">
            <h3 id="about"><span>{{__ 'AboutAssociation'}}</span></h3>
        </div>
        <span>{{__ 'Association Education for Sustainable Development'}}</span>
        <ul class="spisok">
            <li>{{__ 'Non-profit association'}}</li>
            <li>{{__ 'ESD knowledge and competence management center'}}</li>
            <li>{{__ 'official representative'}}
            </li>
            <li>{{__ 'regional BSRESDN'}}</li>
        </ul>
        <p>
            {{__ 'Registered by'}}
        </p>
    </div>
    <div class="tasks-block">
        <div class="main-header">
            <h3 id="tasks"><span>{{__ 'TargetsAndGoals'}}</span></h3>
        </div>
        <p>{{__ 'THE ASSOCIATIONS OBJECTIVE'}}</p>
        <span>{{__ 'MAIN GOALS OF THE ASSOCIATION'}}</span>
        <ul class="spisok">
            <li>{{__ 'assistance'}}</li>
            <li>{{__ 'ESD research for all generations'}}</li>
            <li>{{__ 'expanding'}}</li>
        </ul>

        <span>{{__ 'MAIN DIRECTIONS OF THE ORGANIZATION'}}</span>
        <ol class="bullet-spisok">
            <li>{{__ 'educational'}}</li>
            <li>{{__ 'research and expert'}}</li>
            <li>{{__ 'intersectoral cooperation'}}</li>
            <li>{{__ 'organizational development'}}</li>
        </ol>
    </div>

    <div class="leadership-block">
        <div class="main-header">
            <h3 id="leadership"><span>{{__ 'COMPOSITION'}}</span></h3>
        </div>
        <div class="man-items">
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/juk.jpg" alt="ЖУК">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Жук Александр Иванович</div>
                            <div class="man-info">Председатель Совета Ассоциации, ректор БГПУ, доктор педагогических
                                наук, профессор.</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:rector@bspu.unibel.by?subject=ESDA">rector@bspu.unibel.by</a></div>
                    </div>
                </div>
            </div>

            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/muravev.jpeg" alt="МУРАВЬЁВ">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Муравьев Анатолий Владимирович</div>
                            <div class="man-info">Исполнительный директор Ассоциации, директор гимназии №19 г. Минска,
                                руководитель Ресурсного центра комплексной поддержки практик ОУР и Школьных местных
                                повесток-21.</div>
                        </div>
                        <div class="man-email"><a href="mailto:murauevav@gmail.com?subject=ESDA">murauevav@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/zubrilina.jpg" alt="ЗУБРИЛИНА">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Зубрилина Инесса Владимировна </div>
                            <div class="man-info">Начальник Координационного центра ОУР БГПУ.</div>
                        </div>
                        <div class="man-email"><a href="mailto:iness_yes@tut.by?subject=ESDA">iness_yes@tut.by</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/савелова.jpg" alt="САВЕЛОВА">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Савелова София Борисовна</div>
                            <div class="man-info">Заместитель начальника КЦ ОУР, координатор межрегионального
                                взаимодействия.</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:yiecnewline@gmail.com?subject=ESDA">yiecnewline@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/кошель.jpg" alt="КОШЕЛЬ">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Кошель Нина Николаевна</div>
                            <div class="man-info">Начальник отдела креативной педагогики и психологии АПО, руководитель
                                научно-исследовательской группы.</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:nina.koshel@gmail.com?subject=ESDA">nina.koshel@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/жукович.jpg" alt="ЖУКОВИЧ">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Жукович Виталий Павлович</div>
                            <div class="man-info">Директор ГУО «Здитовская средняя школа» Березовского района.</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:vitalzhukovich@gmail.com?subject=ESDA">vitalzhukovich@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/афанасьевна.jpg" alt="АФАНАСЬЕВА">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Афанасьева Наталья Григорьевна</div>
                            <div class="man-info">Начальник отдела педагогических инноваций и передового педагогического
                                опыта МГОИРО.</div>
                        </div>
                        <div class="man-email"><a href="mailto:innov@mogileviro.by?subject=ESDA">innov@mogileviro.by</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/губенкова.jpg" alt="ГУБЕНКОВА">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Губенкова Татьяна Владимировна</div>
                            <div class="man-info">Заместитель директора по воспитательной работе ГУО «Средняя школа № 16
                                г.Орши».</div>
                        </div>
                        <div class="man-email"><a href="mailto:hubiank@mail.ru?subject=ESDA">hubiank@mail.ru</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/гудень.jpg" alt="ГУДЕНЬ">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">Гудень Ольга Александровна</div>
                            <div class="man-info">Заместитель директора по учебно-методической работе ГУО «Гимназия г.
                                Щучина»</div>
                        </div>
                        <div class="man-email"><a href="mailto:olgaguden30@mail.ru?subject=ESDA">olgaguden30@mail.ru
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="history-block">
        <div class="main-header">
            <h3 id="history"><span>{{__ 'HISTORY'}}</span></h3>
        </div>
        <span>Проект «Партнерская сеть Школ устойчивого развития: межрегиональное сотрудничество и устойчивые
            изменения»</span>
        <div class="d6">
            <h3>Краткая история развития практик ОУР и ШМП-21</h3>
        </div><br>
        <p>
            В 2005 году по инициативе ООН началось десятилетие образования для устойчивого развития (ОУР).
            Эту инициативу поддержали многие страны, в том числе и Республика Беларусь.
            Основная цель, которую ставит перед собой ОУР, – дать лицам любого возраста возможность за счет
            приобретения соответствующих компетенций влиять на качество своей жизни и нести ответственность
            за построение своего стабильного будущего, заботясь при этом и о качестве жизни будущих поколений.
            Несомненно, главенствующую роль в реализации идей ОУР призваны играть учреждения образования.
        </p>
        <p>
            На реализацию принципов устойчивого развития и повышение качества жизни школьного сообщества нацелена
            разработка школьной Местной повестки (ШМП-21),
            осуществление которой существенно расширяет функции школы в социуме.
        </p>
        <p>
            Созданию ШМП-21 в учреждениях образования был посвящен проект «Местные повестки – 21 в школах»,
            реализованный в 2007 – 2009 гг.в рамках Программы Поддержки Федерального правительства Германии Республики
            Беларусь.
            Партнерами проекта выступили Минский международный образовательный центр им. Й. Рау (ММОЦ им. Й. Рау) и
            ГУО «Академия последипломного образования» (АПО). Участниками проекта был изучен опыт работы школ и
            административных
            структур Федеральной земли Северный Рейн-Вестфалия по реализации МП-21, а также была решена задача
            подготовки участников
            Проекта как организаторов процесса разработки и реализации МП-21 в школах Беларуси. Значимым результатом
            проекта явилось
            издание 2-х книг: «Школьная местная повестка – 21: пособие для общеобразовательной средней школы» и
            «Методические рекомендации
            по планированию повышения квалификации педагогических кадров в области образования в интересах устойчивого
            развития»,
            которые получили высокую оценку специалистов системы государственного образования. Важным событием проекта
            также стала
            разработка и издание «Местной повестки гимназии № 19 г. Минска».
        </p>
        <p>
            Следующим этапом в истории международного сотрудничества Беларуси и Германии в области ОУР явилась
            реализация в 2009 – 2011 гг.
            проекта «Создание региональных ресурсных центров комплексной поддержки образования в интересах устойчивого
            развития и
            Школьных местных повесток – 21» в партнерстве ММОЦ им. Й. Рау, ГУО «Академия последипломного образования»,
            ГУО «Гимназия № 19 г. Минска».
        </p>
        <span>Основные направления реализации проекта:</span>
        <ul class="spisok">
            <li>cодействие организации и повышению эффективности практики ОУР в учреждениях образования и в регионах
            </li>
            <li>cтимулирование и поддержка детских и юношеских инициатив в интересах устойчивого развития регионов</li>
            <li>организация конкурсного отбора школ – региональных ресурсных центров комплексной поддержки практики ОУР
                и деятельности ШМП – 21</li>
            <li>поддержка становления Партнерской сети Школ устойчивого развития</li>
        </ul>
        <p>
            Выступая «локомотивами» устойчивости перемен в интересах улучшения качества жизни своих регионов, школы,
            участвующие в проекте, стремились не только активизировать усилия учащихся, но и с их помощью включить в
            процессы
            УР различные структуры и группы населения, оказать им образовательную поддержку и объединить их усилия.
            Результатом проекта явилась разработка концептуальных оснований и программа создания учреждений образования
            как ресурсных центров комплексной поддержки практик ОУР, выступающих центрами устойчивого развития своих
            регионов.
            Эффективность проекта подтвердилась выявлением на конкурсной основе 13 учреждений образования, получивших
            статус ресурсных центров.
        </p>
        <p>
            Несомненно, для школ Беларуси это абсолютно новая практика,
            устойчивость и успешность которой нуждалась в формировании инфраструктры поддержки межрегионального
            сотрудничества
            и сетевого взаимодействия ресурсных центров комплексной поддержки ОУР. Именно на этом основании был
            инициирован и реализован
            в 2012 -2014 гг. Проект «Партнерская сеть Школ устойчивого развития: межрегиональное сотрудничество и
            устойчивые изменения».
        </p>
        <p>
            Основная направленность проекта – создание механизмов устойчивости деятельности в регионах школ –
            эффективных организаторов практики образования в интересах устойчивого развития для всех категорий
            населения.
            Пилотные площадки проекта – Ресурсный центр комплексной поддержки практик ОУР и ШМП – 21 ГУО «Гимназия № 19
            г. Минска»
            (директор – Анатолий Муравьев) и Ресурсный центр комплексной поддержки деятельности организаторов практик
            ОУР учреждения
            образования «Могилевский государственный областной институт развития образования» (ректор – Ирина
            Старовойтова).
            Коллективное управление деятельностью проекта осуществляла его Координационная группа в лице Нины Кошель и
            Софии
            Савеловой (АПО), Надежды Самерсовой (ММОЦ им. Й. Рау), Анатолия Муравьева, Ирины Старовойтовой и Светланы
            Давидовской
            (Общественная организация «Ахова птушак Бацькаушчыны»).
        </p>
        <p>
            Большой интерес к совместной деятельности с участниками проекта проявили партнеры – проекты Программы
            поддержки Беларуси:
            «Обучающийся регион: образование для всех поколений» (менеджер проекта – Светлана Анташкевич),
            «Расширение и укрепление сети «Белый аист» по экологической сертификации социальных, церковных,
            общественных и образовательных организаций» (менеджер проекта – Лариса Яковюк), «Школа энергосбережения:
            сберегая ресурсы и деньги, мы заботимся о будущих поколениях» (менеджер проекта – Светлана Наумчик); проект
            «Живая история моего края», который реализуется Представительством зарегистрированного общества
            «Deutscher Volkshochschul-Verband e.V.» (ФРГ) в Республике Беларусь (глава Представительства – Галина
            Веремейчик).
        </p>
        <p>
            Особенно ярко сотрудничество с заинтересованными партнерами проявилось во время работы тематического
            круглого стола
            «Образование в интересах устойчивого развития», который был организован в рамках
            III Республиканской научно-практической конференции по устойчивому развитию территорий
            «Партнерство в действии», проведенной 26 – 27 апреля 2013 г.
            Минским международным образовательным центром им. Йоханнеса Рау.
        </p>
        <p>
            Участники проекта выражают признательность за комплексную поддержку
            и сотрудничество Международному образовательному центру (IBB) Дортмунд,
            Программе поддержки Беларуси (ППБ), Минскому международному образовательному центру им.
            Й.Рау (ММОЦ им. Й. Рау) в лице Ольги Ренш-Ветцель, директора ММОЦ им. Й. Рау, Мартина
            Шона-Чанишвили, менеджера образовательных программ ММОЦ им. Й. Рау; Анны Робилка, референта
            ИББ Дортмунд, Марины Малининой, координатора направления «Организационное развитие» ППБ, Сергея
            Тарасюка, координатора направления «Устойчивое развитие» ППБ, Дмитрия Карпиевича, координатора
            регионального процесса ППБ, Франца Мамуля и Александра Пересыпкина, региональных координаторов ППБ по
            Гродненской и Минской областям.
        </p>
        <p>
            Мы благодарны международным экспертам – доктору Клаусу Ройтеру и доктору Астрид Зам, экспертам Программы
            поддержки Беларуси Наталье Рябовой, Ольге Смолянко, Олегу Сивогракову за образовательную, организационную,
            правовую и экспертную поддержку активности проекта.
        </p>
        <span>
            Участники проекта выражают благодарность всем партнерским организациям за то, что, несмотря на сложность
            задач и недостаточность ресурсов,
            удалось совместными усилиями достичь целей проекта:
        </span>
        <ul class="spisok">
            <li>администрации ГУО «Академия последипломного образования» и лично ректору Андрею Монастырному</li>
            <li>ассистенту руководителя проекта Елене Новик за организационное обеспечение проведения ключевых событий
                проекта и
                Дмитрию Савелову за вклад в создание и поддержку интернет-сайта
                <a href="http://www.agendaschools.net/">www.agemdaschools.net</a> и листа рассылки Партнерской сети школ
                устойчивого развития</li>
            <li>Координационному совету Партнерской сети школ устойчивого развития в лице Светланы Биран,
                Виталия Жуковича, Ольги Лукша, Елены Храмцевич, Светланы Якубовской, Елены Лисовской,
                Елены Киселевой, Антонины Максимовой, Татьяны Губенковой, Александра Семенова, Сергея Кольцова,
                Марины Кийко; экспертам проекта Виктору Кулику, Алексею Воронову, Инессе Зубрилиной, Ирине Васильевой;
                участникам мобильной тренерской группы проекта – Алле Гончаровой, Ольге Кремлевой, Людмиле Хилько,
                Константину Каминскому, Анне Багеше, Ирине Астаповой, Валентине Свистуновой, Наталье Стахно, Елене
                Червяковой за активное участие в подготовке и проведении основных событий проекта</li>
            <li>руководителям и коллективам региональных ресурсных центров комплексной поддержки практик ОУР и
                ШМП-21 Партнерской сети школ устойчивого развития за активное участие в реализации стратегий
                устойчивого развития регионов и активное межрегиональное сотрудничество</li>
            <li>
                руководителям региональных отделов образования, спорта и туризма за содействие проведению мероприятий
                проекта на
                местном уровне и поддержку событий межрегионального сотрудничества</li>
            <li>
                редакциям «Настаўніцкай газеты» и научно-методического журнала «Адукацыя і выхаванне»
            </li>
        </ul>
        <p>
            Огромную благодарность за поддержку активности участников проекта в продвижении идей межрегионального
            сотрудничества
            и партнерства учреждений образования Республики Беларусь выражаем Первому заместителю Министра образования
            Республики Беларусь,
            доктору педагогических наук, профессору Александру Жуку.
        </p>
        <p>
            Сегодня мы можем с уверенностью сказать, что все поставленные в проекте задачи выполнены. Между тем,
            несомненно,
            есть необходимость в определении перспектив оптимизации и дальнейшего развития начатой в 2007
            году деятельности по обеспечению становления системы образования в интересах устойчивого развития в
            Беларуси.
        </p>
        <p>
            В предлагаемом сборнике научно-методических материалов представлены теоретические основания, анализ
            деятельности,
            опыт и основные приоритеты развития межрегионального сотрудничества для устойчивых изменений образования и
            социальных практик; определены перспективы развития проекта.
        </p>
        <p>
            Ассоциация «Образование для устойчивого развития» – некоммерческое объединение юридических лиц.
            Зарегистрирована Минским горисполкомом 2 июля 2014 г. в Едином государственном регистре юридических лиц и
            индивидуальных предпринимателей. Регистрационный номер 192298781.
        </p>
        <p>
            Решение о создании Ассоциации «Образование для устойчивого развития» было принято во время работы
            Заключительной конференции проекта
            1248 «Партнерская сеть Школ устойчивого развития: межрегиональное сотрудничество и устойчивые изменения»,
            которая состоялась
            27–29 марта 2014 года на базе Академии последипломного образования. Это решение зафиксировано в Меморандуме
            конференции.
            Там же была сформирована инициативная группа по созданию Ассоциации.
        </p>
        <p>
            Учредительное собрание членов Ассоциации «Образование для устойчивого развития» состоялось на базе БГПУ им.
            М. Танка 1 июля 2014 года.
        </p>
        <p>
            14 июля 2014 года получено удостоверение о регистрации организации – Ассоциации «Образование для устойчивого
            развития».
            Одно из важнейших решений Партнерской сети школ устойчивого развития выполнено!
        </p>
        <p>
            Ассоциация – некоммерческое объединение юридических лиц, ориентированных на ценности устойчивого развития,
            заинтересованных в
            деятельности в области образования в интересах устойчивого развития.
        </p>
        <p>
            Учредительное собрание прошло 1 июля 2014 года при участии первых лиц организаций-учредителей. Председателем
            совета Ассоциации был
            избран Александр Иванович Жук,
            ректор БГПУ имени М. Танка.
        </p>
        <p>
            Уже 2 июля 2014 года Ассоциация прошла все необходимые процедуры согласования и решением Мингорисполкома
            была включена в ЕГР под
            регистрационным номером 192298781.
            Это стало возможным благодаря огромному вкладу Александра Жука, Анатолия Муравьева, Нины Кошель, Софии
            Савеловой, а
            также объединению усилий Координационного совета Партнерской сети школ устойчивого развития и участников
            сети.
        </p>
        <p>
            Организации – члены Ассоциации выражают благодарность за помощь и грамотное юридическое сопровождение
            эксперту Программы
            поддержки Беларуси Федерального правительства Германии Ольге Смолянко, а также нашим постоянным партнерам по
            совместной работе –
            Минскому международному образовательному центру им. Й. Рау (IBB), Международному образовательному центру г.
            Дортмунда, Программе поддержки Беларуси.
        </p>
        <span>{{__ 'Useful links'}}:</span>
        <ol class="bullet-spisok">
            <li>{{__ 'Sustainable Development Schools Partner Network'}}: <a
                    href="http://agendaschools.net/index.php/aboutinitiative">http://agendaschools.net/index.php/aboutinitiative</a>
            </li>
            <li>{{__ 'Association Registration'}}: <a
                    href="http://agendaschools.net/index.php/77-2011-05-19-15-57-01/153-2014-07-15-12-28-34">http://agendaschools.net/index.php/77-2011-05-19-15-57-01/153-2014-07-15-12-28-34</a>
            </li>
        </ol>



    </div>

    <div class="structure-block">
        <div class="main-header">
            <h3 id="structure"><span>{{__ 'STRUCTURE'}}</span></h3>
        </div>
        <p>
            Ассоциация «Образование для устойчивого развития» зарегистрирована Минским горисполкомом 2 июля 2014
            в ЕГР юридических лиц и индивидуальных предпринимателей. Регистрационный номер: 192298781.
        </p>
        <p>
            Председатель Ассоциации – Александр Жук, ректор учреждения образования "Белорусский государственный
            педагогический университет
            имени Максима Танка", доктор педагогических наук, профессор.
        </p>
        <p>
            Исполнительный директор Ассоциации – Анатолий Муравьев, директор гимназии № 19 г. Минска,
            руководитель Ресурсного центра комплексной поддержки практик ОУР и Школьных местных повесток – 21.
        </p>
        <span>Cовет Ассоциации</span>
        <ul class="list6b">
            <li><b>Александр Иванович Жук</b> – ректор Белорусского государственного педагогического университета имени
                Максима Танка, доктор педагогических наук, профессор</li>
            <li><b>Инесса Владимировна Зубрилина</b> – начальник Координационного центра ОУР БГПУ</li>
            <li><b>София Борисовна Савелова</b> – заместитель начальника КЦ ОУР (координатор межрегионального
                взаимодействия)</li>
            <li><b>Нина Николаевна Кошель</b> – начальник отдела креативной педагогики и психологии АПО (руководитель
                научно-исследовательской группы)</li>
            <li><b>Виталий Павлович Жукович</b> – директора ГУО «Здитовская средняя школа»</li>
            <li><b>Наталья Григорьевна Афанасьева</b> – начальник отдела педагогических инноваций и передового
                педагогического опыта МГОИРО</li>
            <li><b>Татьяна Владимировна Губенкова</b> – заместитель директора по воспитательной работе ГУО «Средняя
                школа № 16 г.Орши»</li>
            <li><b>Ольга Александровна Гудень</b> – заместитель директора по учебно-методической работе ГУО «Гимназия г.
                Щучина»</li>
        </ul>
        <span>Учредители Ассоциации</span>
        <ul class="list6b">
            <li>Учреждение образования «Белорусский государственный педагогический университет имени М.Танка»,
                зарегистрированное решением Минского городского исполнительного комитета №1010 от 02.08.2001 года в ЕГР
                за № 100302394</li>
            <li>Учреждение образования «Республиканский институт профессионального образования», зарегистрированное
                решением Минского городского исполнительного комитета №1207 от 26.10.2000 года в ЕГР за №100419924</li>
            <li>Учреждение образования «Могилевский государственный областной институт развития образования»,
                зарегистрированное решением администрации Ленинского района г. Могилева 170р от 20.06.2008 года в ЕГР за
                № 700028436</li>
            <li>Государственное учреждение образования «Гимназия №19 г. Минска», зарегистрированное решением Минского
                городского исполнительного комитета №114 от 05.12.2008 года в ЕГР за № 190822087</li>
            <li>Государственное учреждение образования «Здитовская средняя школа» Березовского района,
                зарегистрированное решением Брестского областного исполнительного комитета 09.09.2011 года в ЕГР за
                №290509021</li>
        </ul>
        <span>Основные целевые группы</span>
        <ul class="list6b">
            <li>организации-члены Ассоциации</li>
            <li>некоммерческие и коммерческие организации различных отраслей и секторов, заинтересованные в деятельности
                в области УР и ОУР</li>
            <li>общественные организации и учреждения различных ступеней системы формального образования,
                заинтересованные в реализации, поддержке и продвижении практик ОУР</li>
            <li>предприятия, индивидуальные предприниматели и бизнес-структуры, осуществляющие свою деятельность в
                области УР и ОУР</li>
            <li>органы государственного управления и лица, принимающие решения, призванные обеспечивать реализацию задач
                Национальной стратегии устойчивого развития Республики Беларусь</li>
            <li>международные организации и структуры, обеспечивающие реализацию положений Хартии Земли, Повестки на XXI
                век, стратегии ЕЭК ООН по ОУР, Глобальных Целей устойчивого развития</li>
            <li>потенциальные инвесторы проектов и программ в области УР и ОУР</li>
        </ul>
        <p>Инициатива по созданию Ассоциации принадлежит участникам образовательного сообщества Партнерская сеть школ
            устойчивого развития,
            <a href="http://www.agendaschools.net/">www.agendaschools.net</a> , поддержана другими образовательными
            структурами, работающими
            в области зеленой экономики, экологического образования, подготовки педагогов (как потенциальных
            организаторов практик ОУР).
        </p>
        <p>
            Каждая из организаций – учредителей Ассоциации «Образование для устойчивого развития» имеет большой опыт
            международного сотрудничества
            по организации национальных и европейских научно-исследовательских проектов (например – проект «Восточное
            партнерство
            в сфере педагогических инноваций в рамках инклюзивного образования» Европейской программы TEMPUS,
            осуществляемых БГПУ им.
            М. Танка совместно с Технологическим институтом в Карлруе (Karlsruhe Institute of Technology), Германия, ГГУ
            и МГИРО; серия
            международных семинаров «Опыт подготовки квалифицированных кадров для зеленой экономики», организуемых РИПО
            на базе Национальной
            библиотеки Беларуси при участии экспертов Европейской комиссии в рамках программы TAIEX), подготовки и
            издания научно-методических
            пособий, участия в белорусско-немецких долговременных проектах (например – изданная совместно АПО и ММОЦ им.
            Й. Рау серия методических
            рекомендаций и материалов «Школьная местная повестка – 21»), разработки региональных и локальных проектов и
            программ (например – проекты
            «Школа энергосбережения: сберегая ресурсы и деньги, мы заботимся о будущих поколениях», реализованный ОО
            «Наш след» в содружестве с Leben
            nach Tschernobyl e.V. (Германия), гимназией № 19 г. Минска, Минским областных институтом развития
            образования (Беларусь);
            «Эколого-этнографический музей “Здзiтаускi фальварак”», совместно реализованный Здитовской средней школой и
            Споровским сельсоветом
            при поддержке ПрООН).
        </p>
        <p>
            Cоздание Ассоциации «Образование для устойчивого развития» стало многофакторным эффектом объединения усилий
            белорусских и немецких
            партнеров (Академии последипломного образования, Беларусь, и Минского международного образовательного центра
            им. Й. Рау, Германия),
            которые на протяжении последних лет работают совместно в интересах осмысления и продвижения практик
            образования в интересах устойчивого
            развития среди различных групп населения, что привело к:
        </p>
        <ul class="list6b">
            <li>разработке методологии включения в эти процессы школ и разработке пакета необходимых материалов и
                рекомендаций (проект «Местные повестки –
                21 в школах», осуществленный при поддержке Международного образовательного центра г. Дортмунд (ФРГ) в
                2007 – 2008 годах)</li>
            <li>установлению устойчивых партнерских отношений, а также включению в управление процессами развития
                практик ОУР пилотной площадки –
                гимназии № 19 г. Минска. Следствие – не только разработка модели коллективного управления деятельностью
                школы как инициативного центра
                устойчивого развития региона, но и создание в системе образования Беларуси сети ресурсных центров
                комплексной поддержки практик ОУР
                (проект 9046, 2009 – 2011)
            </li>
            <li>продолжению сложившейся системы партнерства, включению в устойчивые партнерские отношения Могилевского
                областного института
                развития образования и общественного объединения «Ахова птушак Бацькаушчыны», что позволило обеспечить
                не только становление
                коллективного субъекта организации практик ОУР – Партнерской сети школ устойчивого развития
                (www.agendascholls.net), но и
                совместную разработку идеи образовательной поддержки процессов устойчивого развития регионов, реализация
                которых возможна
                при объединении усилий представителей различных секторов организации образа жизни (проект 1248, 2012 –
                2014)
            </li>
        </ul>
        <p>
            Именно в рамках этого проекта выросло осознание необходимости создания новой организационной структуры –
            некоммерческого объединения юридических лиц, ориентированных на ценности устойчивого развития,
            заинтересованных
            в деятельности в области образования в интересах устойчивого развития – Ассоциации «Образование для
            устойчивого развития».
        </p>
        <p>
            Решение о необходимости создания Ассоциации «Образование для устойчивого развития» было принято во время
            работы
            Заключительной конференции проекта 1248 «Партнерская сеть Школ устойчивого развития: межрегиональное
            сотрудничество
            и устойчивые изменения», которая состоялась 27 – 29 марта 2014 года на базе Академии последипломного
            образования.
            Это решение зафиксировано в Меморандуме конференции. Там же была сформирована инициативная группа по
            созданию Ассоциации.
        </p>
        <p>
            Учредительное собрание членов Ассоциации «Образование для устойчивого развития» состоялось на базе БГПУ им.
            М. Танка 1 июля 2014 года.
        </p>
        <p>
            Первым совместным делом участников Ассоциации «Образование для устойчивого развития» стала подготовка и
            издание в 2015
            году коллективной монографии «Образование для устойчивого развития в Беларуси: теория и практика»,
            направленной на обобщение
            и предъявление практик, осуществляемых в Республике Беларусь в рамках Десятилетия ООН по образованию в
            интересах устойчивого
            развития (2005 – 2014).
        </p>
        <div class="d6">
            <h3>Форма взаимодействия</h3>
        </div>
        <p>
            Потребность в адаптации к изменяющимся условиям предполагает нахождение новых форм взаимодействия,
            кооперации, самосовершенствования
            и развития в человеческом обществе, поскольку становится очевидным, что только такая глобальная
            самоорганизация жизни открывает
            человечеству возможность оптимизации управления процессами развития экосферы.
        </p>
        <p>
            Основной средой, в которой осуществляются процессы преобразования экосферы, являются организационные
            системы, которые по
            своей природе априори являются социальными системами. Отбор и накопление информации, совершенствование
            внутрисистемных связей
            социальных систем, повышение эффективности их взаимодействия его с внешней средой, обусловливает
            совершенствование структуры
            и функциональных возможностей систем, ослабление внутренних противоречий и реальное возрастание их
            открытости.
        </p>
        <p>
            В условиях глобализации эффективность как корпораций, так и составляющих их организаций определяется
            открытостью,
            способностью реагировать на динамику внешней среды.
        </p>
        <p>
            Следовательно, тенденции возрастания открытости организаций актуализируют задачу изучения проблемы
            управления ими.
        </p>
        <p>
            По существу своей структуры, система образования представляет собой полиподразделенческую организацию
            (корпорацию),
            состоящую из региональных и учрежденческих организационных систем, функционирующих в уникальных
            организационных средах и
            выполняющих в них образовательную, социальную, экономическую и др. функции, реализация которых детерминирует
            необходимость
            их деятельности как открытых организаций.
        </p>
        <p>
            Выявление сущности и содержания понятия открытая организация является основанием для определения условий
            повышения ее эффективности,
            а, следовательно, и эффективности систем, элементами которых являются открытые организации.
        </p>
        <p>
            Для того, чтобы определиться с понятием «открытая организация» выделим наиболее часто встречающиеся и
            распространенные смысловые нагрузки этого термина:
        </p>
        <ol class="bullet-spisok">
            <li><em>организация</em> – искусственно созданная человеческая общность, выполняющая определенные функции в
                обществе (общественные, производственные, коммерческие организации и т.д.), для которых характерно
                наличие устойчивых связей между членами, выполнение ими определенных социальных ролей, упорядоченность
                отношений с другими организациями и т.д.</li>
            <li><em>организация</em> – обозначение определенной степени прочности и упорядоченности связей и отношений в
                системе. В этом смысле понятие применяется не только к социальным, но и к любым другим структурированным
                объектам.</li>
            <li><em>организация</em> – процесс обеспечения различных видов деятельности. В этом значении он
                употребляется для отражения согласования и координации деятельности различных групп людей и индивидов,
                снабжения их ресурсами.</li>
        </ol>
        <p>
            Открытая организация представляет собой человеческую общность, поддерживающую внутренние и внешние
            информационные связи
            и отношения для достижения целей стратегии собственного развития на основе внутреннего и внешнего договора.
            «Договор — это механизм, организующий совместную продуктивную деятельность и социальные отношения в ней.
            По мнению С.М.Юсфина договор определяет следующие структурные компоненты договорных отношений:
        </p>
        <ul class="list6b">
            <li>постоянная проявленность и соотнесенность интересов и ситуативных смыслов партнеров</li>
            <li>нахождение и достижение предмета взаимодействия, который содержит интересы партнеров</li>
            <li>реализация и обеспечение каждым из партнеров ответственности в выстраиваемом взаимодействии</li>
        </ul>
        <p>
            Динамика информационного обмена открытой организации определяется информационными потребностями организации,
            способностью ее участников работать с информацией: определять потребности в информации, получать,
            обрабатывать,
            использовать, обмениваться ею, систематизировать, накапливать и хранить актуальную для развития организации
            информацию.
            Соответственно, в условиях информационной цивилизации возрастает роль человеческого фактора, определяющего
            ее успешность,
            а в управленческом аспекте возрастает значение системы менеджмента человеческими ресурсами, она становится
            ключевым условием
            устойчивого развития национальной системы образования.
        </p>
        <p>
            В контексте педагогического знания условия — это внешние и внутренние обстоятельства, благоприятствующие или
            препятствующие
            действию факторов развития. Факторами развития могут выступать: готовность к деятельности, стимулирующая
            среда,
            материально-техническая и ресурсная обеспеченность и др.
        </p>
        <p>
            Изменение места и роли образования в современном мире, превращение его в ресурс социального развития
            предполагает создание систем менеджмента
            человеческими ресурсами в первую очередь в сфере образования.
        </p>
    </div>
    <div class="members-block">
        <div class="main-header">
            <h3 id="members"><span>ЧЛЕНЫ АССОЦИАЦИИ</span></h3>
        </div>

        <div class="d6">
            <h3>{{__ 'InstitutionsOfHigherEducation'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://bspu.by/">{{__ 'MaksimTankBelarusianStatePedagogicalUniversity'}}</a></li>
            <li><a href="http://www.buk.by/">{{__ 'BelarusianStateUniversityofCultureandArts'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'AdultSupplementaryEducationInstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://www.ripo.unibel.by/">{{__ 'RepublicanInstituteofProfessionalEducation'}}</a></li>
            <li><a href="http://www.academy.edu.by/">{{__ 'AcademyofPostgraduateEducation'}}</a></li>
            <li><a href="http://www.mogileviro.by/">{{__ 'MogilevStateRegionalInstituteforEducationDevelopment'}}</a>
            </li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Generalsecondaryeducationinstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://gymn19.minsk.edu.by/">{{__ 'Gymnasium19inMinsk'}}</a></li>
            <li><a href="https://g-cofartsmolod.schools.by/">{{__ 'GymnasiumCollegeofArtsMolodechno'}}</a></li>
            <li><a href="https://sch10.belhost.by/">{{__ 'Secondaryschool10Borisov'}}</a></li>
            <li><a href="http://www.kr-school.gomel.by/">{{__ 'KrasnensksecondaryschoolofMolodechnodistrict'}}</a></li>
            <li><a href="http://dsch4.schoolnet.by/news.shtml">{{__ 'Secondaryschool4inDzerzhinsk'}}</a></li>
            <li><a href="https://nsch1.schools.by/">{{__ 'Negorelsecondaryschool1Dzerzhinskydistrict'}}</a></li>
            <li><a href="http://nsch2.schoolnet.by/">{{__ 'SEINegorelBasicSchool2DzerzhinskyDistrict'}}</a></li>
            <li><a
                    href="http://zditovo.bereza.edu.by/">{{__ 'ZditovskayasecondaryschooloftheBerezovskydistrictoftheBrestregion'}}</a>
            </li>
            <li><a href="http://sch3.pinsk.edu.by/">{{__ 'SecondarySchool3inPinsk'}}</a></li>
            <li><a href="https://ivngimn.ivanovo.by/">{{__ 'GymnasiuminIvanovo'}}</a></li>
            <li><a
                    href="http://sch7.baranovichi.edu.by/">{{__ 'StateEducationalInstitutionSecondarySchool7inBaranovichi'}}</a>
            </li>
            <li><a href="https://12novopolotsk.schools.by/">{{__ 'Secondaryschool12inNovopolotsk'}}</a></li>
            <li><a href="https://gymnbraslav.schools.by/">{{__ 'Braslav gymnasium'}}</a></li>
            <li><a href="https://16orsha.schools.by/">{{__ 'Secondaryschool16inOrsha'}}</a></li>
            <li><a href="http://www.v-dgg.vitebsk.by/">{{__ 'StateEducationalInstitutionVerkhnedvinskGymnasium'}}</a>
            </li>
            <li><a href="http://gymn4.vitebsk.edu.by/">{{__ 'Gymnasium4inVitebsk'}}</a></li>
            <li><a href="https://12vitebsk.schools.by/">{{__ 'SecondaryschoolinVitebsk'}}</a></li>
            <li><a
                    href="http://or.ushachi.edu.by/">{{__ 'OrekhovskayasecondaryschoolnamedafterNLKostyuchenkoUshachskydistrict'}}</a>
            </li>
            <li><a href="https://gim2volk.by/">{{__ 'Gymnasium2inVolkovysk'}}</a></li>
            <li><a href="https://gimn1.lida.by/">{{__ 'Gymnasium1inLida'}}</a></li>
            <li><a href="https://sch12grodno.schools.by/">{{__ 'Secondaryschool12inGrodno'}}</a></li>
            <li><a href="https://gymn-schuchin.schools.by/">{{__ 'StateeducationalinstitutionGymnasiumofShchuchin'}}</a>
            </li>
            <li><a href="https://mir.schools.by/">{{__ 'SecondaryschoolinMir'}}</a></li>
            <li><a
                    href="https://8volk.schools.by/">{{__ 'Secondaryschool8inVolkovyskwithPolishlanguageofinstruction'}}</a>
            </li>
            <li><a href="https://osh3.schools.by/">{{__ 'StateEducationalInstitutionSecondarySchool3ofOshmyany'}}</a>
            </li>
            <li><a href="http://gymn.kostjukovichi.edu.by/">{{__ 'KostyukovichiDistrictStateGymnasium'}}</a></li>
            <li><a
                    href="https://hodos.schools.by/">{{__ 'KhodosovskayasecondaryschoolofMstislavskydistrictMogilevregion'}}</a>
            </li>
            <li><a href="https://gumnmstislavl.schools.by/">{{__ 'GymnasiuminMstislavl'}}</a></li>
            <li><a
                    href="https://upk-podsoltovo.schools.by/">{{__ 'Podsoltovskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a
                    href="https://riazancy.schools.by/">{{__ 'Ryazantsevskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a href="https://os3.schools.by/">{{__ 'SecondarySchool3inOsipovichi'}}</a></li>
            <li><a href="http://sosh28.iam.by/">{{__ 'Secondaryschool28inMogilev'}}</a></li>
            <li><a href="https://gimn-vetka.schools.by/">{{__
        
        'GymnasiuminVetka'}}</a></li>
            <li><a
                    href="https://uvarovichi.schools.by/">{{__ 'StateEducationalInstitutionUvarovichskayasecondaryschoolofBudaKoshelevskydistrict'}}</a>
            </li>
            <li><a
                    href="https://kurkovo.schools.by/">{{__ 'Kurmanovskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a
                    href="https://mishni.schools.by/">{{__ 'Mishnevskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a
                    href="https://upk-mazolovo.schools.by/">{{__ 'Mazolovskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a href="http://stembridge.by/">{{__ 'PrivateeducationalinstitutionCambridgeHighSchool'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Additionaleducationinstitutionsforchildrenandyouth'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="https://orion.minskedu.gov.by/">{{__ 'StateEducationalInstitutionPalaceofChildrenandYouthOrionMinsk'}}</a>
            </li>
            <li><a href="https://rcek.by/">{{__ 'EERepublicanCenterofEcologyandLocalLore'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Specialeducationinstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="https://ckroir-mstislavl.schools.by/">{{__ 'MstislavskyDistrictCenterforCorrectionandDevelopmentEducationandRehabilitation'}}</a>
            </li>
            <li><a
                    href="http://sirota.by/detskie-doma/mogilevskaya-obl/200-mstislavskaya-spetsialnaya-obshcheobrazovatelnaya-shkolainternat-dlya-detey-s-tyazhelymi-narusheniya/">{{__ 'StateEducationalInstitutionMstislavskayaSpecialGeneralEducationBoardingSchoolforChildrenwithSevereSpeechDisorders'}}</a>
            </li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Preschooleducationalinstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="https://ys45grodno.schools.by/">{{__ 'StateEducationalInstitutionNurserykindergarten45ofGrodno'}}</a>
            </li>
            <li><a href="https://sad6osh.schools.by/">{{__ 'StateEducationalInstitutionNurserygarden6ofOshmyany'}}</a>
            </li>
            <li><a
                    href="http://ddu137.minsk.edu.by/">{{__ 'StateeducationalinstitutionNurserykindergarten137inMinsk'}}</a>
            </li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Institutionsofvocationalandsecondaryspecializededucation'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://www.widzy-nptc.by/">{{__ 'VidzovStateVocationalandTechnicalCollege'}}</a></li>
            <li><a href="http://gpk.by/">{{__ 'GomelStatePedagogicalCollegenamedafterLSVygotsky'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Publicorganizations'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="http://ru.belbsi.by/rights/social_belarus/organizations?oid=8335">{{__ 'PublicAssociationforSustainableDevelopmentOurTraceMinsk'}}</a>
            </li>
            <li><a href="http://www.otkrovenie.by/">{{__ 'YouthpublicassociationRevelation'}}</a></li>
            <li><a
                    href="https://web.facebook.com/ekamajsterni/?_rdc=1&_rdr">{{__ 'CulturalandecologicalinstitutionEkaMeisterni'}}</a>
            </li>
            <li><a
                    href="https://www.sites.google.com/site/akciasledceloveka/">{{__ 'PrivateinstitutionforpromotingsocialandeconomicdevelopmentWorkshopforsustainablechanges'}}</a>
            </li>
        </ul>
    </div>

    <div class="resourses-block">
        <div class="main-header">
            <h3 id="resourses"><span>{{__ 'RESOURCE CENTERS'}}</span></h3>
        </div>
        <div class="d6">
            <h3>{{__ 'RCOTRL'}}</h3>
        </div><br>
        <ul class="list6b">
            <li><a href="https://gymn19.minskedu.gov.by/">{{__ 'GYM19'}}</a> — {{__ 'GYM19_'}}</li>
            <li><a href="https://sites.google.com/site/akciasledceloveka/">{{__ 'EWSC'}}</a> — {{__ 'EWSC_'}}</li>
            <li><a href="https://ys45grodno.schools.by/">{{__ 'SEI45'}}</a> — {{__ 'SEI45_'}}</li>
        </ul>
        <div class="d6">
            <h3>{{__ 'ETRC'}}</h3>
        </div><br>
        <ul class="list6b">
            <li><a href="http://zditovo.bereza.edu.by/">{{__ 'SEIZSS'}}</a> — {{__ 'SEIZSS_'}}</li>
            <li><a href="https://16orsha.schools.by/">{{__ 'RCESRS'}}</a> — {{__ 'RCESRS_'}}</li>
            <li><a href="http://brasgymnasium.by/">{{__ 'BR'}}</a> — {{__ 'BR_'}}</li>
            <li><a href="http://www.kr-school.gomel.by/">{{__ 'SEIKSS'}}</a> — {{__ 'SEIKSS_'}}</li>
            <li><a href="https://gimn2volk.schools.by/">{{__ 'SEI2'}}</a> — {{__ 'SEI2_'}}</li>
            <li><a href="https://12novopolotsk.schools.by/">{{__ 'SEI12'}}</a> — {{__ 'SEI12_'}}</li>
            <li><a href="http://sch203.minsk.edu.by/">{{__ 'SEI203'}}</a> — {{__ 'SEI203_'}}</li>
            <li><a href="https://school12.vitebsk.by/">{{__ 'SEI12V'}}</a> — {{__ 'SEI12V_'}}</li>
            <li><a href="http://ddu137.minsk.edu.by/">{{__ 'SEI137'}}</a> — {{__ 'SEI137_'}}</li>
            <li><a href="http://sch7.baranovichi.edu.by/">{{__ 'SEI7'}}</a> — {{__ 'SEI7_'}}</li>
            <li><a href="https://sch12grodno.schools.by/">{{__ 'SEI12G'}}</a> — {{__ 'SEI12G_'}}</li>
        </ul>
        <div class="d6">
            <h3>{{__ 'RRCIES'}}</h3>
        </div><br>
        <ul class="list6b">
            <li><a href="http://sch3.pinsk.edu.by/">{{__ 'SEI3P'}}</a> — {{__ 'SEI3P_'}}</li>
            <li><a href="http://gymn4.vitebsk.edu.by/">{{__ 'GYM4V'}}</a> — {{__ 'GYM4V_'}}</li>
            <li><a href="https://gymn-schuchin.schools.by/">{{__ 'SEIGYM'}}</a> — {{__ 'SEIGYM_'}}</li>
            <li><a href="http://gymn.kostjukovichi.edu.by/">{{__ 'SEIKDS'}}</a> — {{__ 'SEIKDS_'}}</li>
            <li><a href="http://dsch4.schoolnet.by/news.shtml">{{__ 'SEI4D'}}</a> — {{__ 'SEI4D_'}}</li>
        </ul>


    </div>

    <div class="partners-block">
        <div class="main-header">
            <h3 id="partners"><span>{{__ 'PARTNERS'}}</span></h3>
        </div>

        <div class="partner-items">
            <div class="partner-item partner-reverse">
                <div class="partner-item-block">
                    <img src="/static/images/onn.jpg" alt="">
                    <div class="partner-item-block-name">
                        {{__ 'UN'}}
                    </div>
                </div>
                <div class="partner-item-container">
                    <p>
                        {{__ 'UN description 1'}}
                    <p>{{__ 'UN description 2'}}</p>
                    <p>{{__ 'UN description 3'}}</p>
                    </p>
                </div>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/proon.jpg" alt="">
                <div class="partner-item-block-name">
                    {{__ 'UNITED NATIONS DEVELOPMENT PROGRAM'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    ПРОГРАММА РАЗВИТИЯ ОРГАНИЗАЦИИ ОБЪЕДИНЁННЫХ НАЦИЙ (ПРООН) — подразделение ООН, которое работает в
                    Беларуси
                    с 1992 года. Мандат ПРООН в Беларуси определяется Соглашением между правительством страны и ПРООН от
                    24 сентября 1992 года,
                    в соответствии с которым ПРООН «поддерживает и дополняет национальные усилия по решению наиболее
                    важных проблем
                    своего экономической развития и содействия социальному прогрессу и улучшению условий жизни».
                    Деятельность ПРООН в Беларуси в настоящее время регулируется Страновым программным документом (ДСП)
                    на 2016-2020 годы.
                    Основное внимание в документе уделяется трем основным областям в соответствии с национальными
                    приоритетами в области развития:
                    Укрепление системы инклюзивного и гибкого управления.
                    Развитие зеленой экономики, включая производства, направленные на трудоустройство и обеспечение
                    достойной жизни
                    для уязвимых групп населения.
                    Улучшение доступа к базовым услугам для уязвимых групп.
                    В 2015 году Беларусь взяла на себя обязательства по достижению Целей устойчивого развития (ЦУР).
                    ПРООН помогает стране внедрять и актуализировать ЦУР на национальном и местном уровнях, в частности
                    путем поддержки Национального координатора ЦУР и сближения местных мероприятий с достижением
                    глобальных целей.
                    Сотрудничество → Фестиваль инновационных ОУР-практик для всех (11 октября 2019 года, БГПУ)
                    Республиканский семинар-практикум "Экодружественность семьи - индикатор эффективности практик ОУР в
                    местном сообществе"
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/unisef.jpg" alt="">
                <div class="partner-item-block-name">
                    ДЕТСКИЙ ФОНД ООН (ЮНИСЕФ)
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    ДЕТСКИЙ ФОНД ООН (ЮНИСЕФ) — это крупнейшая в мире организация, действующая под эгидой Организации
                    Объединенных Наций,
                    которая более 70 лет защищает права детей в более чем 190 странах и территориях.
                    В настоящее время в Республике Беларусь реализуется Страновая программа на 2016-2020 годы.
                    В её основе — национальные приоритеты Республики Беларусь в области социального развития,
                    здравоохранения и образования.
                    Сотрудничество → Фестиваль инновационных ОУР-практик для всех (11 октября 2019 года, БГПУ)
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/dvv.jpg" alt="">
                <div class="partner-item-block-name">
                    DVV
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    DVV (DEUTSCHER VOLKSHOCHSCHUL-VERBAND e.V.) — немецкая ассоциация народных университетов.
                    DVV International представляет интересы около 900 Народных университетов (Volkshochschulen) и
                    их земельных ассоциаций, крупнейших провайдеров услуг дополнительного образования в Германии.
                    Деятельность Представительства в Беларуси, как и других представительств DVV International в странах
                    Юго-Восточной Европы, Азии и Закавказья, направлена на:
                <ul class="list6b">
                    <li>содействие деятельности в сфере образования, науки, культуры, просвещения, духовному развитию
                        личности для преодоления бедности</li>
                    <li>расширение спектра услуг в сфере образования взрослых для всех целевых групп</li>
                    <li>укрепление организаций, предоставляющих образовательные услуги для взрослых, и развитие сетевых
                        контактов</li>
                    <li>содействие изучению истории, в том числе использованию современных подходов и методов обучения
                    </li>
                    <li>лоббирование и продвижение концепта "образование взрослых"</li>
                </ul>
                Сотрудничество → Фестиваль инновационных ОУР-практик для всех (11 октября 2019 года, БГПУ)
                II Международный симпозиум «Образование в интересах устойчивого развития для всех поколений - социальный
                договор»
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse ">
            <div class="partner-item-block">
                <img src="/static/images/ibb.jpg" alt="">
                <div class="partner-item-block-name">
                    ПРОГРАММА ПОДДЕРЖКИ РЕСПУБЛИКИ БЕЛАРУСЬ «ПРЕОДОЛЕВАЯ ГРАНИЦЫ»
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    ПРОГРАММА ПОДДЕРЖКИ РЕСПУБЛИКИ БЕЛАРУСЬ «ПРЕОДОЛЕВАЯ ГРАНИЦЫ» реализуется с 2002 г.
                    по поручению Федерального министерства экономического сотрудничества и развития (BMZ) и
                    Германского общества международного сотрудничества (GIZ). Ответственным за ее выполнение является
                    Дортмундский международный образовательный центр совместно с Минcким международным образовательным
                    центром имени
                    Йоханнеса Рау. Принятием данной программы Федеральное правительство способствовало развитию
                    немецко-белорусских инициатив,
                    которые, имея своей отправной точкой гуманитарные отношения, переросли в партнёрскую проектную
                    работу. Мероприятия
                    Программы призваны внести новаторский вклад в успешное осуществление Повестки-2030.
                    Сотрудничество → Научная лавка как центр адресной экспертной поддержки образовательных практик в
                    интересах
                    устойчивого развития
                    II Международный симпозиум в рамках белорусско-немецкого проекта «Научная лавка – инструмент
                    интеграции практик
                    образования и устойчивого развития»
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/рнтб.jpg" alt="">
                <div class="partner-item-block-name">
                    РЕСПУБЛИКАНСКАЯ НАУЧНО-ТЕХНИЧЕСКАЯ БИБЛИОТЕКА
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    РЕСПУБЛИКАНСКАЯ НАУЧНО-ТЕХНИЧЕСКАЯ БИБЛИОТЕКА (РНТБ) — это единственная библиотека в Республике
                    Беларусь,
                    которая имеет информационный центр и читальный зал по устойчивому развитию, где пользователи имеют
                    возможность
                    получить любой документ, хранящийся в библиотеке, и ознакомиться с имеющимися базами данных.
                    В ряде читальных залов для обеспечения оперативного доступа абонентов библиотеки к всемирным
                    информационным
                    ресурсам по технике и технологиям, РНТБ предоставляет бесплатный доступ в Интернет, проводит
                    семинары и тренинги
                    для работников библиотек, информационных и других служб в Интернет−центре.
                    Сотрудничество → Международный климатический хакатон
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/ass.jpg" alt="">
                <div class="partner-item-block-name">
                    АССОЦИАЦИЯ "ОБРАЗОВАНИЕ ДЛЯ БУДУЩЕГО"
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    АССОЦИАЦИЯ ПО СОДЕЙСТВИЮ РАЗВИТИЮ ОБРАЗОВАТЕЛЬНЫХ ИНИЦИАТИВ В ОБЛАСТИ ТОЧНЫХ НАУК И ВЫСОКИХ
                    ТЕХНОЛОГИЙ "ОБРАЗОВАНИЕ ДЛЯ БУДУЩЕГО"
                    — некоммерческая организация, целью которой является помощь обществу и государству в воспитании
                    нового поколения
                    востребованных инженеров, изобретателей, инноваторов и социально отвественных предпринимателей в
                    сфере высоких технологий.
                    Направления деятельности:
                <ul class="list6b">
                    <li>STEM-ВЕКТОР — наука, технологии, инженерия, математика</li>
                    <li>ПРОФОРИЕНТАЦИЯ — знакомство с новыми технологиями, инженерными и естественными науками,
                        отраслями, профессиями</li>
                    <li>ПОПУЛЯРИЗАЦИЯ науки, ИТ, изобретательства, предпринимательства</li>
                </ul>
                Сотрудничество → II Международный симпозиум в рамках белорусско-немецкого проекта «Научная лавка –
                инструмент интеграции
                практик образования и устойчивого развития»
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/wila.jpg" alt="">
                <div class="partner-item-block-name">
                    WILA BONN
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    WILA BONN — Bonn Science Shop (Wissenschaftsladen Bonn e. V.). Зарегистрированное общество «Научная
                    лавка г. Бонн», Германия.
                    Научная лавка г. Бонн основана в 1984 году и уже более 30 лет реализует проекты на национальном и
                    международном уровнях
                    в области ОУР, устойчивого развития регионов, окружающей среды и здоровья, а также «зеленой
                    экономики».
                    Как и другие подобные учреждения по всему миру, Научная лавка г. Бонн работает на основе запросов от
                    гражданского общества и осуществляет проекты в партнерстве с организациями гражданского общества и
                    исследовательскими центрами. Она является инициатором и активным участником международной сети
                    «Living Knowledge»,
                    включающей более 150 Научных лавок по всему миру. C 2015 г. сотрудничает с БГПУ и Ассоциацией
                    «Образование для
                    устойчивого развития» в проектах Программы поддержки Беларуси Федерального Правительства Германии.
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/janun.jpg" alt="">
                <div class="partner-item-block-name">
                    JANUN HANNOVER E.V.
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    JANUN HANNOVER E.V. — Молодежная экологическая организация Janun e.V., Германия.
                    Почти 30 лет Janun e.V. реализует проекты в сфере неформального образования в интересах устойчивого
                    развития,
                    сотрудничая со школами, образовательными экологическими центрами и научно-исследовательскими
                    институтами высших
                    учебных заведений в федеральной земле Нижняя Саксония.
                    С 2015 г. БГПУ, Ассоциация «Образование для устойчивого развития» и Janun e.V. реализовали
                    более 10 образовательных проектов по обмену опытом педагогов и студентов в области ОУР, молодежного
                    предпринимательства, экологической журналистики, местных практик устойчивого развития и пр. Проекты
                    мобильности были поддержаны программой ЕС Erasmus+, администрацией города Ганновер и рядом других
                    немецких фондов по содействию международному сотрудничеству в области образования.
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>

        </div>
    </div>


    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/uni.jpg" alt="">
                <div class="partner-item-block-name">
                    UNIVERSITY OF HILDESHEIM — Университет г. Хильдесхайм, Германия.
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    UNIVERSITY OF HILDESHEIM — Университет г. Хильдесхайм, Германия.
                    В 2018 г. было заключено соглашение о сотрудничестве между БГПУ и немецким университетом.
                    В первую очередь оно касается академической мобильности, обмена опытом в области включения
                    принципов устойчивого развития в деятельность университета — (концепция «устойчивый университет»)
                    и сотрудничества студенческих организаций Green Office.
                    В 2017 г. делегация университета, во главе с профессором Т. Рихтером, приняла активное участие в
                    Декаде ОУР-2017 в БГПУ, и с тех пор состоялось 4 образовательных обмена с участием сотрудников
                    Координационного центра по различным тематикам устойчивого развития в образовании.
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/go.jpg" alt="">
                <div class="partner-item-block-name">
                    ИНСТИТУТ ИМЕНИ ГЁТЕ, МИНСК, РБ
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    ИНСТИТУТ ИМЕНИ ГЁТЕ, МИНСК, РБ — Германская неправительственная организация, задачей которой
                    является
                    популяризация немецкого языка за рубежом и содействие международному культурному сотрудничеству.
                    Совместно с белорусскими партнёрами Институт организует различные мероприятия в области культуры
                    (музыка, театр, танцевальное искусство, кино, выставки).
                    Совместно с Координационным центром и Ассоциацией «Образование для будущего» в 2019 году в БГПУ был
                    организован исследовательский мит-ап «STEAM-подход в педагогике детства».
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>

        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/czech.jpg" alt="">
                <div class="partner-item-block-name">
                    CZECH FUNDRAISING CENTER (ЧУШСКИЙ ЦЕНТР ФАНДРАЙЗИНГА)
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    CZECH FUNDRAISING CENTER (ЧУШСКИЙ ЦЕНТР ФАНДРАЙЗИНГА) – поддержка организационного развития и
                    мобилизации ресурсов НГО, координация образовательного проекта POINT – Platform for
                    Opportunities and Ideas in Non-Profit Training, поддержанного Вышеградским фондом и направленного
                    на повышение компетенций тренеров и педагогов в сфере неформального образования.
                    Сотрудничество → https://fundraising.cz/point/
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/iearn.jpg" alt="">
                <div class="partner-item-block-name">
                    iEARN
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    iEARN - это некоммерческая организация, состоящая из более чем 30 000 школ и молодежных организаций
                    в более чем 140 странах. iEARN дает возможность учителям и молодым людям работать вместе в режиме
                    онлайн,
                    используя Интернет и другие новые коммуникационные технологии.
                    Сотрудничество → ГУО "Гимназия г. Щучина"
                    ГУО "Гимназия №1 г. Старые Дороги"
                    ГУО "Браславская гимназия"
                    Интернет-игра «НАША Беларусь»
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>

        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/rce.jpg" alt="">
                <div class="partner-item-block-name">
                    GLOBAL RCE NETWORK
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    GLOBAL RCE NETWORK – международное сообщество Региональных центров экспертиз в области ОУР (RCE),
                    координируемое Институтом перспективных исследований Университета ООН в Токио.
                    С 2017 г. Ассоциация в составе RCE Belarus активно содействует продвижению образования в
                    интересах устойчивого развития (ОУР) во всех сферах общественной жизни, а также интеграции
                    белорусского опыта организации практик ОУР в международное RCE-сообщество (Global RCE Network).
                    Сотрудничество → https://www.rcenetwork.org/portal/rce-profile-detail/rce-belarus
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/hz.jpg" alt="">
                <div class="partner-item-block-name">
                    ХАРТИЯ ЗЕМЛИ
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    ХАРТИЯ ЗЕМЛИ — международная декларация основополагающих принципов и ценностей для создания
                    справедливого,
                    устойчивого и мирного глобального общества в XXI веке.
                    Сотрудничество → Интернет-проект «Цели устойчивого развития: думай и действуй»
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/kc.jpg" alt="">
                <div class="partner-item-block-name">
                    КООРДИНАЦИОННЫЙ ЦЕНТР «ОБРАЗОВАНИЕ В ИНТЕРЕСАХ УСТОЙЧИВОГО РАЗВИТИЯ»
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    КООРДИНАЦИОННЫЙ ЦЕНТР «ОБРАЗОВАНИЕ В ИНТЕРЕСАХ УСТОЙЧИВОГО РАЗВИТИЯ» - это структура БГПУ,
                    основными направлениями деятельности которой является научно-методическое и
                    информационно-организационное
                    сопровождение и координационная деятельность по ОУР, взаимодействие со сферами экономики, экологии и
                    социального развития Республики Беларусь на международном, национальном, региональном и локальном
                    уровнях.
                    Сотрудничество → Международный симпозиум "Образование в интересах устойчивого развития для всех
                    поколений – социальный договор"
                    II Международный симпозиум «Образование в интересах устойчивого развития для всех поколений –
                    социальный договор»
                    ДЕКАДА «Образование в интересах устойчивого развития»
                    Декада «Образование в интересах устойчивого развития для всех»
                </p>
            </div>
        </div>
    </div>

</div>
</div>