<link rel="stylesheet" type="text/css" href="/static/css/about.css" />
<div class="about-container">
    <div class="shortinfo-block">
        <div class="main-header">
            <h3 id="about"><span>{{__ 'AboutAssociation'}}</span></h3>
        </div>
        <span>{{__ 'Association Education for Sustainable Development'}}</span>
        <ul class="spisok">
            <li>{{__ 'Non-profit association'}}</li>
            <li>{{__ 'ESD knowledge and competence management center'}}</li>
            <li>{{__ 'official representative'}}
            </li>
            <li>{{__ 'regional BSRESDN'}}</li>
        </ul>
        <p>
            {{__ 'Registered by'}}
        </p>
    </div>
    <div class="tasks-block">
        <div class="main-header">
            <h3 id="tasks"><span>{{__ 'TargetsAndGoals'}}</span></h3>
        </div>
        <p>{{__ 'THE ASSOCIATIONS OBJECTIVE'}}</p>
        <span>{{__ 'MAIN GOALS OF THE ASSOCIATION'}}</span>
        <ul class="spisok">
            <li>{{__ 'assistance'}}</li>
            <li>{{__ 'ESD research for all generations'}}</li>
            <li>{{__ 'expanding'}}</li>
        </ul>

        <span>{{__ 'MAIN DIRECTIONS OF THE ORGANIZATION'}}</span>
        <ol class="bullet-spisok">
            <li>{{__ 'educational'}}</li>
            <li>{{__ 'research and expert'}}</li>
            <li>{{__ 'intersectoral cooperation'}}</li>
            <li>{{__ 'organizational development'}}</li>
        </ol>
    </div>

    <div class="leadership-block">
        <div class="main-header">
            <h3 id="leadership"><span>{{__ 'COMPOSITION'}}</span></h3>
        </div>
        <div class="man-items">
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/juk.jpg" alt="{{__ 'ZAI'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'ZAI'}}</div>
                            <div class="man-info">{{__ 'Chairman of the Council'}}</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:rector@bspu.unibel.by?subject=ESDA">rector@bspu.unibel.by</a></div>
                    </div>
                </div>
            </div>

            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/muravev.jpeg" alt="{{__ 'MAV'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'MAV'}}</div>
                            <div class="man-info">{{__ 'Executive Director'}}</div>
                        </div>
                        <div class="man-email"><a href="mailto:murauevav@gmail.com?subject=ESDA">murauevav@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/zubrilina.jpg" alt="{{__ 'ZIV'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'ZIV'}}</div>
                            <div class="man-info">{{__ 'Head of the ESD Coordination Center, BSPU'}}</div>
                        </div>
                        <div class="man-email"><a href="mailto:iness_yes@tut.by?subject=ESDA">iness_yes@tut.by</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/савелова.jpg" alt="{{__ 'SSB'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'SSB'}}</div>
                            <div class="man-info">{{__ 'Deputy Head of CC ESD'}}</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:yiecnewline@gmail.com?subject=ESDA">yiecnewline@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/кошель.jpg" alt="{{__ 'KNN'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'KNN'}}</div>
                            <div class="man-info">{{__ 'Head of the department'}}</div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:nina.koshel@gmail.com?subject=ESDA">nina.koshel@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/жукович.jpg" alt="{{__ 'ZVP'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'ZVP'}}</div>
                            <div class="man-info">
                                {{__ 'Director of the State Educational Institution Zditovskaya Secondary School'}}
                            </div>
                        </div>
                        <div class="man-email"><a
                                href="mailto:vitalzhukovich@gmail.com?subject=ESDA">vitalzhukovich@gmail.com</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/афанасьевна.jpg" alt="{{__ 'ANG'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'ANG'}}</div>
                            <div class="man-info">
                                {{__ 'Head of the Department of Pedagogical Innovations and Advanced Pedagogical Experience'}}
                            </div>
                        </div>
                        <div class="man-email"><a href="mailto:innov@mogileviro.by?subject=ESDA">innov@mogileviro.by</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/губенкова.jpg" alt="{{__ 'GTV'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'GTV'}}</div>
                            <div class="man-info">{{__ 'Deputy Director for educational work'}}</div>
                        </div>
                        <div class="man-email"><a href="mailto:hubiank@mail.ru?subject=ESDA">hubiank@mail.ru</a></div>
                    </div>
                </div>
            </div>
            <div class="man-item">
                <div class="man">
                    <div class="man-photo">
                        <img class="man-photo-locale" src="/static/images/гудень.jpg" alt="{{__ 'GOA'}}">
                    </div>
                    <div class="man-container">
                        <div>
                            <div class="man-fio">{{__ 'GOA'}}</div>
                            <div class="man-info">{{__ 'Deputy Director for educational and methodological work'}}</div>
                        </div>
                        <div class="man-email"><a href="mailto:olgaguden30@mail.ru?subject=ESDA">olgaguden30@mail.ru
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="history-block">
        <div class="main-header">
            <h3 id="history"><span>{{__ 'HISTORY'}}</span></h3>
        </div>
        <span>{{__ 'Partnership Network of Schools'}}</span>
        <div class="d6">
            <h3>{{__ 'A brief history'}}</h3>
        </div><br>
        <p>
            {{__ 'initiative of the United Nations'}}
        </p>
        <p>
            {{__ 'school Local Agenda'}}
        </p>
        <p>
            {{__ 'Local Agenda - 21 in Schools'}} </p>
        <p>
            {{__ 'international cooperation'}}
        </p>
        <span>{{__ 'Main directions of project implementation'}}:</span>
        <ul class="spisok">
            <li>{{__ 'assistance in organizing and improving the effectiveness'}}
            </li>
            <li>{{__ 'stimulation and support'}}</li>
            <li>{{__ 'organization of a competitive selection'}}</li>
            <li>{{__ 'supporting the establishment'}}</li>
        </ul>
        <p>
            {{__ 'interests of improving the quality'}}
        </p>
        <p>
            {{__ 'new practice for schools in Belarus'}}
        </p>
        <p>
            {{__ 'creation of mechanisms for the sustainability'}}
        </p>
        <p>
            {{__ 'projects of the Belarus Support Program'}}
        </p>
        <p>
            {{__ 'Cooperation with interested partners'}}
        </p>
        <p>
            {{__ 'The project participants express their gratitude'}}
        </p>
        <p>
            {{__ 'We are grateful to international experts'}}
        </p>
        <span>
            {{__ 'The project participants express their gratitude to all partner organizations'}}
        </span>
        <ul class="spisok">
            <li>{{__ 'Administration of the State Educational Institution'}}</li>
            <li>{{__ 'assistant to the project manager'}}
                <a href="http://www.agendaschools.net/">www.agendaschools.net</a>
                {{__ 'Sustainable Development Schools Partner Network mailing list'}}</li>
            <li>{{__ 'The Coordinating Council of the Partnership Network'}}</li>
            <li>{{__ 'heads and teams of regional resource centers'}}</li>
            <li>
                {{__ 'heads of regional departments of education'}}
            </li>
            <li>
                {{__ 'editorial offices'}}
            </li>
        </ul>
        <p>
            {{__ 'deep gratitude to the First Deputy Minister'}}
        </p>
        <p>
            {{__ 'Today we can say with confidence'}}
        </p>
        <p>
            {{__ 'The proposed collection'}}
        </p>
        <p>
            {{__ 'Registration number'}}
        </p>
        <p>
            {{__ 'The decision to create'}}
        </p>
        <p>
            {{__ 'The founding meeting of the members'}}
        </p>
        <p>
            {{__ 'On July 14, 2014'}}
        </p>
        <p>
            {{__ 'The Association is a non-profit association'}}
        </p>
        <p>
            {{__ 'The constituent assembly was held on July 1'}}
        </p>
        <p>
            {{__ 'Already on July 2, 2014'}}
        </p>
        <p>
            {{__ 'The organizations - members of the Association'}}
        </p>
        <span>{{__ 'Useful links'}}:</span>
        <ol class="bullet-spisok">
            <li>{{__ 'Sustainable Development Schools Partner Network'}}: <a
                    href="http://agendaschools.net/index.php/aboutinitiative">http://agendaschools.net/index.php/aboutinitiative</a>
            </li>
            <li>{{__ 'Association Registration'}}: <a
                    href="http://agendaschools.net/index.php/77-2011-05-19-15-57-01/153-2014-07-15-12-28-34">http://agendaschools.net/index.php/77-2011-05-19-15-57-01/153-2014-07-15-12-28-34</a>
            </li>
        </ol>



    </div>

    <div class="structure-block">
        <div class="main-header">
            <h3 id="structure"><span>{{__ 'STRUCTURE'}}</span></h3>
        </div>
        <p>
            Ассоциация «Образование для устойчивого развития» зарегистрирована Минским горисполкомом 2 июля 2014
            в ЕГР юридических лиц и индивидуальных предпринимателей. Регистрационный номер: 192298781.
        </p>
        <p>
            Председатель Ассоциации – Александр Жук, ректор учреждения образования "Белорусский государственный
            педагогический университет
            имени Максима Танка", доктор педагогических наук, профессор.
        </p>
        <p>
            Исполнительный директор Ассоциации – Анатолий Муравьев, директор гимназии № 19 г. Минска,
            руководитель Ресурсного центра комплексной поддержки практик ОУР и Школьных местных повесток – 21.
        </p>
        <span>Cовет Ассоциации</span>
        <ul class="list6b">
            <li><b>{{__ 'ZAI'}}</b> – ректор Белорусского государственного педагогического университета имени
                Максима Танка, доктор педагогических наук, профессор</li>
            <li><b>{{__ 'ZIV'}}</b> – начальник Координационного центра ОУР БГПУ</li>
            <li><b>{{__ 'SSB'}}</b> – заместитель начальника КЦ ОУР (координатор межрегионального
                взаимодействия)</li>
            <li><b>{{__ 'KNN'}}</b> – начальник отдела креативной педагогики и психологии АПО (руководитель
                научно-исследовательской группы)</li>
            <li><b>{{__ 'ZVP'}}</b> – директора ГУО «Здитовская средняя школа»</li>
            <li><b>{{__ 'ANG'}}</b> – начальник отдела педагогических инноваций и передового
                педагогического опыта МГОИРО</li>
            <li><b>{{__ 'GTV'}}</b> – заместитель директора по воспитательной работе ГУО «Средняя
                школа № 16 г.Орши»</li>
            <li><b>{{__ 'GOA'}}</b> – заместитель директора по учебно-методической работе ГУО «Гимназия г.
                Щучина»</li>
        </ul>
        <span>Учредители Ассоциации</span>
        <ul class="list6b">
            <li>Учреждение образования «Белорусский государственный педагогический университет имени М.Танка»,
                зарегистрированное решением Минского городского исполнительного комитета №1010 от 02.08.2001 года в ЕГР
                за № 100302394</li>
            <li>Учреждение образования «Республиканский институт профессионального образования», зарегистрированное
                решением Минского городского исполнительного комитета №1207 от 26.10.2000 года в ЕГР за №100419924</li>
            <li>Учреждение образования «Могилевский государственный областной институт развития образования»,
                зарегистрированное решением администрации Ленинского района г. Могилева 170р от 20.06.2008 года в ЕГР за
                № 700028436</li>
            <li>Государственное учреждение образования «Гимназия №19 г. Минска», зарегистрированное решением Минского
                городского исполнительного комитета №114 от 05.12.2008 года в ЕГР за № 190822087</li>
            <li>Государственное учреждение образования «Здитовская средняя школа» Березовского района,
                зарегистрированное решением Брестского областного исполнительного комитета 09.09.2011 года в ЕГР за
                №290509021</li>
        </ul>
        <span>Основные целевые группы</span>
        <ul class="list6b">
            <li>организации-члены Ассоциации</li>
            <li>некоммерческие и коммерческие организации различных отраслей и секторов, заинтересованные в деятельности
                в области УР и ОУР</li>
            <li>общественные организации и учреждения различных ступеней системы формального образования,
                заинтересованные в реализации, поддержке и продвижении практик ОУР</li>
            <li>предприятия, индивидуальные предприниматели и бизнес-структуры, осуществляющие свою деятельность в
                области УР и ОУР</li>
            <li>органы государственного управления и лица, принимающие решения, призванные обеспечивать реализацию задач
                Национальной стратегии устойчивого развития Республики Беларусь</li>
            <li>международные организации и структуры, обеспечивающие реализацию положений Хартии Земли, Повестки на XXI
                век, стратегии ЕЭК ООН по ОУР, Глобальных Целей устойчивого развития</li>
            <li>потенциальные инвесторы проектов и программ в области УР и ОУР</li>
        </ul>
        <p>Инициатива по созданию Ассоциации принадлежит участникам образовательного сообщества Партнерская сеть школ
            устойчивого развития,
            <a href="http://www.agendaschools.net/">www.agendaschools.net</a> , поддержана другими образовательными
            структурами, работающими
            в области зеленой экономики, экологического образования, подготовки педагогов (как потенциальных
            организаторов практик ОУР).
        </p>
        <p>
            Каждая из организаций – учредителей Ассоциации «Образование для устойчивого развития» имеет большой опыт
            международного сотрудничества
            по организации национальных и европейских научно-исследовательских проектов (например – проект «Восточное
            партнерство
            в сфере педагогических инноваций в рамках инклюзивного образования» Европейской программы TEMPUS,
            осуществляемых БГПУ им.
            М. Танка совместно с Технологическим институтом в Карлруе (Karlsruhe Institute of Technology), Германия, ГГУ
            и МГИРО; серия
            международных семинаров «Опыт подготовки квалифицированных кадров для зеленой экономики», организуемых РИПО
            на базе Национальной
            библиотеки Беларуси при участии экспертов Европейской комиссии в рамках программы TAIEX), подготовки и
            издания научно-методических
            пособий, участия в белорусско-немецких долговременных проектах (например – изданная совместно АПО и ММОЦ им.
            Й. Рау серия методических
            рекомендаций и материалов «Школьная местная повестка – 21»), разработки региональных и локальных проектов и
            программ (например – проекты
            «Школа энергосбережения: сберегая ресурсы и деньги, мы заботимся о будущих поколениях», реализованный ОО
            «Наш след» в содружестве с Leben
            nach Tschernobyl e.V. (Германия), гимназией № 19 г. Минска, Минским областных институтом развития
            образования (Беларусь);
            «Эколого-этнографический музей “Здзiтаускi фальварак”», совместно реализованный Здитовской средней школой и
            Споровским сельсоветом
            при поддержке ПрООН).
        </p>
        <p>
            Cоздание Ассоциации «Образование для устойчивого развития» стало многофакторным эффектом объединения усилий
            белорусских и немецких
            партнеров (Академии последипломного образования, Беларусь, и Минского международного образовательного центра
            им. Й. Рау, Германия),
            которые на протяжении последних лет работают совместно в интересах осмысления и продвижения практик
            образования в интересах устойчивого
            развития среди различных групп населения, что привело к:
        </p>
        <ul class="list6b">
            <li>разработке методологии включения в эти процессы школ и разработке пакета необходимых материалов и
                рекомендаций (проект «Местные повестки –
                21 в школах», осуществленный при поддержке Международного образовательного центра г. Дортмунд (ФРГ) в
                2007 – 2008 годах)</li>
            <li>установлению устойчивых партнерских отношений, а также включению в управление процессами развития
                практик ОУР пилотной площадки –
                гимназии № 19 г. Минска. Следствие – не только разработка модели коллективного управления деятельностью
                школы как инициативного центра
                устойчивого развития региона, но и создание в системе образования Беларуси сети ресурсных центров
                комплексной поддержки практик ОУР
                (проект 9046, 2009 – 2011)
            </li>
            <li>продолжению сложившейся системы партнерства, включению в устойчивые партнерские отношения Могилевского
                областного института
                развития образования и общественного объединения «Ахова птушак Бацькаушчыны», что позволило обеспечить
                не только становление
                коллективного субъекта организации практик ОУР – Партнерской сети школ устойчивого развития
                (www.agendascholls.net), но и
                совместную разработку идеи образовательной поддержки процессов устойчивого развития регионов, реализация
                которых возможна
                при объединении усилий представителей различных секторов организации образа жизни (проект 1248, 2012 –
                2014)
            </li>
        </ul>
        <p>
            Именно в рамках этого проекта выросло осознание необходимости создания новой организационной структуры –
            некоммерческого объединения юридических лиц, ориентированных на ценности устойчивого развития,
            заинтересованных
            в деятельности в области образования в интересах устойчивого развития – Ассоциации «Образование для
            устойчивого развития».
        </p>
        <p>
            Решение о необходимости создания Ассоциации «Образование для устойчивого развития» было принято во время
            работы
            Заключительной конференции проекта 1248 «Партнерская сеть Школ устойчивого развития: межрегиональное
            сотрудничество
            и устойчивые изменения», которая состоялась 27 – 29 марта 2014 года на базе Академии последипломного
            образования.
            Это решение зафиксировано в Меморандуме конференции. Там же была сформирована инициативная группа по
            созданию Ассоциации.
        </p>
        <p>
            Учредительное собрание членов Ассоциации «Образование для устойчивого развития» состоялось на базе БГПУ им.
            М. Танка 1 июля 2014 года.
        </p>
        <p>
            Первым совместным делом участников Ассоциации «Образование для устойчивого развития» стала подготовка и
            издание в 2015
            году коллективной монографии «Образование для устойчивого развития в Беларуси: теория и практика»,
            направленной на обобщение
            и предъявление практик, осуществляемых в Республике Беларусь в рамках Десятилетия ООН по образованию в
            интересах устойчивого
            развития (2005 – 2014).
        </p>
        <div class="d6">
            <h3>{{__ 'Interaction form'}}</h3>
        </div>
        <p>
            Потребность в адаптации к изменяющимся условиям предполагает нахождение новых форм взаимодействия,
            кооперации, самосовершенствования
            и развития в человеческом обществе, поскольку становится очевидным, что только такая глобальная
            самоорганизация жизни открывает
            человечеству возможность оптимизации управления процессами развития экосферы.
        </p>
        <p>
            Основной средой, в которой осуществляются процессы преобразования экосферы, являются организационные
            системы, которые по
            своей природе априори являются социальными системами. Отбор и накопление информации, совершенствование
            внутрисистемных связей
            социальных систем, повышение эффективности их взаимодействия его с внешней средой, обусловливает
            совершенствование структуры
            и функциональных возможностей систем, ослабление внутренних противоречий и реальное возрастание их
            открытости.
        </p>
        <p>
            В условиях глобализации эффективность как корпораций, так и составляющих их организаций определяется
            открытостью,
            способностью реагировать на динамику внешней среды.
        </p>
        <p>
            Следовательно, тенденции возрастания открытости организаций актуализируют задачу изучения проблемы
            управления ими.
        </p>
        <p>
            По существу своей структуры, система образования представляет собой полиподразделенческую организацию
            (корпорацию),
            состоящую из региональных и учрежденческих организационных систем, функционирующих в уникальных
            организационных средах и
            выполняющих в них образовательную, социальную, экономическую и др. функции, реализация которых детерминирует
            необходимость
            их деятельности как открытых организаций.
        </p>
        <p>
            Выявление сущности и содержания понятия открытая организация является основанием для определения условий
            повышения ее эффективности,
            а, следовательно, и эффективности систем, элементами которых являются открытые организации.
        </p>
        <p>
            Для того, чтобы определиться с понятием «открытая организация» выделим наиболее часто встречающиеся и
            распространенные смысловые нагрузки этого термина:
        </p>
        <ol class="bullet-spisok">
            <li><em>организация</em> – искусственно созданная человеческая общность, выполняющая определенные функции в
                обществе (общественные, производственные, коммерческие организации и т.д.), для которых характерно
                наличие устойчивых связей между членами, выполнение ими определенных социальных ролей, упорядоченность
                отношений с другими организациями и т.д.</li>
            <li><em>организация</em> – обозначение определенной степени прочности и упорядоченности связей и отношений в
                системе. В этом смысле понятие применяется не только к социальным, но и к любым другим структурированным
                объектам.</li>
            <li><em>организация</em> – процесс обеспечения различных видов деятельности. В этом значении он
                употребляется для отражения согласования и координации деятельности различных групп людей и индивидов,
                снабжения их ресурсами.</li>
        </ol>
        <p>
            Открытая организация представляет собой человеческую общность, поддерживающую внутренние и внешние
            информационные связи
            и отношения для достижения целей стратегии собственного развития на основе внутреннего и внешнего договора.
            «Договор — это механизм, организующий совместную продуктивную деятельность и социальные отношения в ней.
            По мнению С.М.Юсфина договор определяет следующие структурные компоненты договорных отношений:
        </p>
        <ul class="list6b">
            <li>постоянная проявленность и соотнесенность интересов и ситуативных смыслов партнеров</li>
            <li>нахождение и достижение предмета взаимодействия, который содержит интересы партнеров</li>
            <li>реализация и обеспечение каждым из партнеров ответственности в выстраиваемом взаимодействии</li>
        </ul>
        <p>
            Динамика информационного обмена открытой организации определяется информационными потребностями организации,
            способностью ее участников работать с информацией: определять потребности в информации, получать,
            обрабатывать,
            использовать, обмениваться ею, систематизировать, накапливать и хранить актуальную для развития организации
            информацию.
            Соответственно, в условиях информационной цивилизации возрастает роль человеческого фактора, определяющего
            ее успешность,
            а в управленческом аспекте возрастает значение системы менеджмента человеческими ресурсами, она становится
            ключевым условием
            устойчивого развития национальной системы образования.
        </p>
        <p>
            В контексте педагогического знания условия — это внешние и внутренние обстоятельства, благоприятствующие или
            препятствующие
            действию факторов развития. Факторами развития могут выступать: готовность к деятельности, стимулирующая
            среда,
            материально-техническая и ресурсная обеспеченность и др.
        </p>
        <p>
            Изменение места и роли образования в современном мире, превращение его в ресурс социального развития
            предполагает создание систем менеджмента
            человеческими ресурсами в первую очередь в сфере образования.
        </p>
    </div>
    <div class="members-block">
        <div class="main-header">
            <h3 id="members"><span>{{__ 'MEMBERS OF THE ASSOCIATION'}}</span></h3>
        </div>

        <div class="d6">
            <h3>{{__ 'InstitutionsOfHigherEducation'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://bspu.by/">{{__ 'MaksimTankBelarusianStatePedagogicalUniversity'}}</a></li>
            <li><a href="http://www.buk.by/">{{__ 'BelarusianStateUniversityofCultureandArts'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'AdultSupplementaryEducationInstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://www.ripo.unibel.by/">{{__ 'RepublicanInstituteofProfessionalEducation'}}</a></li>
            <li><a href="http://www.academy.edu.by/">{{__ 'AcademyofPostgraduateEducation'}}</a></li>
            <li><a href="http://www.mogileviro.by/">{{__ 'MogilevStateRegionalInstituteforEducationDevelopment'}}</a>
            </li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Generalsecondaryeducationinstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://gymn19.minsk.edu.by/">{{__ 'Gymnasium19inMinsk'}}</a></li>
            <li><a href="https://g-cofartsmolod.schools.by/">{{__ 'GymnasiumCollegeofArtsMolodechno'}}</a></li>
            <li><a href="https://sch10.belhost.by/">{{__ 'Secondaryschool10Borisov'}}</a></li>
            <li><a href="http://www.kr-school.gomel.by/">{{__ 'KrasnensksecondaryschoolofMolodechnodistrict'}}</a></li>
            <li><a href="http://dsch4.schoolnet.by/news.shtml">{{__ 'Secondaryschool4inDzerzhinsk'}}</a></li>
            <li><a href="https://nsch1.schools.by/">{{__ 'Negorelsecondaryschool1Dzerzhinskydistrict'}}</a></li>
            <li><a href="http://nsch2.schoolnet.by/">{{__ 'SEINegorelBasicSchool2DzerzhinskyDistrict'}}</a></li>
            <li><a
                    href="http://zditovo.bereza.edu.by/">{{__ 'ZditovskayasecondaryschooloftheBerezovskydistrictoftheBrestregion'}}</a>
            </li>
            <li><a href="http://sch3.pinsk.edu.by/">{{__ 'SecondarySchool3inPinsk'}}</a></li>
            <li><a href="https://ivngimn.ivanovo.by/">{{__ 'GymnasiuminIvanovo'}}</a></li>
            <li><a
                    href="http://sch7.baranovichi.edu.by/">{{__ 'StateEducationalInstitutionSecondarySchool7inBaranovichi'}}</a>
            </li>
            <li><a href="https://12novopolotsk.schools.by/">{{__ 'Secondaryschool12inNovopolotsk'}}</a></li>
            <li><a href="https://gymnbraslav.schools.by/">{{__ 'Braslav gymnasium'}}</a></li>
            <li><a href="https://16orsha.schools.by/">{{__ 'Secondaryschool16inOrsha'}}</a></li>
            <li><a href="http://www.v-dgg.vitebsk.by/">{{__ 'StateEducationalInstitutionVerkhnedvinskGymnasium'}}</a>
            </li>
            <li><a href="http://gymn4.vitebsk.edu.by/">{{__ 'Gymnasium4inVitebsk'}}</a></li>
            <li><a href="https://12vitebsk.schools.by/">{{__ 'SecondaryschoolinVitebsk'}}</a></li>
            <li><a
                    href="http://or.ushachi.edu.by/">{{__ 'OrekhovskayasecondaryschoolnamedafterNLKostyuchenkoUshachskydistrict'}}</a>
            </li>
            <li><a href="https://gim2volk.by/">{{__ 'Gymnasium2inVolkovysk'}}</a></li>
            <li><a href="https://gimn1.lida.by/">{{__ 'Gymnasium1inLida'}}</a></li>
            <li><a href="https://sch12grodno.schools.by/">{{__ 'Secondaryschool12inGrodno'}}</a></li>
            <li><a href="https://gymn-schuchin.schools.by/">{{__ 'StateeducationalinstitutionGymnasiumofShchuchin'}}</a>
            </li>
            <li><a href="https://mir.schools.by/">{{__ 'SecondaryschoolinMir'}}</a></li>
            <li><a
                    href="https://8volk.schools.by/">{{__ 'Secondaryschool8inVolkovyskwithPolishlanguageofinstruction'}}</a>
            </li>
            <li><a href="https://osh3.schools.by/">{{__ 'StateEducationalInstitutionSecondarySchool3ofOshmyany'}}</a>
            </li>
            <li><a href="http://gymn.kostjukovichi.edu.by/">{{__ 'KostyukovichiDistrictStateGymnasium'}}</a></li>
            <li><a
                    href="https://hodos.schools.by/">{{__ 'KhodosovskayasecondaryschoolofMstislavskydistrictMogilevregion'}}</a>
            </li>
            <li><a href="https://gumnmstislavl.schools.by/">{{__ 'GymnasiuminMstislavl'}}</a></li>
            <li><a
                    href="https://upk-podsoltovo.schools.by/">{{__ 'Podsoltovskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a
                    href="https://riazancy.schools.by/">{{__ 'Ryazantsevskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a href="https://os3.schools.by/">{{__ 'SecondarySchool3inOsipovichi'}}</a></li>
            <li><a href="http://sosh28.iam.by/">{{__ 'Secondaryschool28inMogilev'}}</a></li>
            <li><a href="https://gimn-vetka.schools.by/">{{__
        
        'GymnasiuminVetka'}}</a></li>
            <li><a
                    href="https://uvarovichi.schools.by/">{{__ 'StateEducationalInstitutionUvarovichskayasecondaryschoolofBudaKoshelevskydistrict'}}</a>
            </li>
            <li><a
                    href="https://kurkovo.schools.by/">{{__ 'Kurmanovskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a
                    href="https://mishni.schools.by/">{{__ 'Mishnevskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a
                    href="https://upk-mazolovo.schools.by/">{{__ 'Mazolovskyeducationalandpedagogicalcomplexkindergartensecondaryschool'}}</a>
            </li>
            <li><a href="http://stembridge.by/">{{__ 'PrivateeducationalinstitutionCambridgeHighSchool'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Additionaleducationinstitutionsforchildrenandyouth'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="https://orion.minskedu.gov.by/">{{__ 'StateEducationalInstitutionPalaceofChildrenandYouthOrionMinsk'}}</a>
            </li>
            <li><a href="https://rcek.by/">{{__ 'EERepublicanCenterofEcologyandLocalLore'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Specialeducationinstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="https://ckroir-mstislavl.schools.by/">{{__ 'MstislavskyDistrictCenterforCorrectionandDevelopmentEducationandRehabilitation'}}</a>
            </li>
            <li><a
                    href="http://sirota.by/detskie-doma/mogilevskaya-obl/200-mstislavskaya-spetsialnaya-obshcheobrazovatelnaya-shkolainternat-dlya-detey-s-tyazhelymi-narusheniya/">{{__ 'StateEducationalInstitutionMstislavskayaSpecialGeneralEducationBoardingSchoolforChildrenwithSevereSpeechDisorders'}}</a>
            </li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Preschooleducationalinstitutions'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="https://ys45grodno.schools.by/">{{__ 'StateEducationalInstitutionNurserykindergarten45ofGrodno'}}</a>
            </li>
            <li><a href="https://sad6osh.schools.by/">{{__ 'StateEducationalInstitutionNurserygarden6ofOshmyany'}}</a>
            </li>
            <li><a
                    href="http://ddu137.minsk.edu.by/">{{__ 'StateeducationalinstitutionNurserykindergarten137inMinsk'}}</a>
            </li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Institutionsofvocationalandsecondaryspecializededucation'}}</h3>
        </div>
        <ul class="list6b">
            <li><a href="http://www.widzy-nptc.by/">{{__ 'VidzovStateVocationalandTechnicalCollege'}}</a></li>
            <li><a href="http://gpk.by/">{{__ 'GomelStatePedagogicalCollegenamedafterLSVygotsky'}}</a></li>
        </ul>

        <div class="d6">
            <h3>{{__ 'Publicorganizations'}}</h3>
        </div>
        <ul class="list6b">
            <li><a
                    href="http://ru.belbsi.by/rights/social_belarus/organizations?oid=8335">{{__ 'PublicAssociationforSustainableDevelopmentOurTraceMinsk'}}</a>
            </li>
            <li><a href="http://www.otkrovenie.by/">{{__ 'YouthpublicassociationRevelation'}}</a></li>
            <li><a
                    href="https://web.facebook.com/ekamajsterni/?_rdc=1&_rdr">{{__ 'CulturalandecologicalinstitutionEkaMeisterni'}}</a>
            </li>
            <li><a
                    href="https://www.sites.google.com/site/akciasledceloveka/">{{__ 'PrivateinstitutionforpromotingsocialandeconomicdevelopmentWorkshopforsustainablechanges'}}</a>
            </li>
        </ul>
    </div>

    <div class="resourses-block">
        <div class="main-header">
            <h3 id="resourses"><span>{{__ 'RESOURCE CENTERS'}}</span></h3>
        </div>
        <div class="d6">
            <h3>{{__ 'RCOTRL'}}</h3>
        </div><br>
        <ul class="list6b">
            <li><a href="https://gymn19.minskedu.gov.by/">{{__ 'GYM19'}}</a> — {{__ 'GYM19_'}}</li>
            <li><a href="https://sites.google.com/site/akciasledceloveka/">{{__ 'EWSC'}}</a> — {{__ 'EWSC_'}}</li>
            <li><a href="https://ys45grodno.schools.by/">{{__ 'SEI45'}}</a> — {{__ 'SEI45_'}}</li>
        </ul>
        <div class="d6">
            <h3>{{__ 'ETRC'}}</h3>
        </div><br>
        <ul class="list6b">
            <li><a href="http://zditovo.bereza.edu.by/">{{__ 'SEIZSS'}}</a> — {{__ 'SEIZSS_'}}</li>
            <li><a href="https://16orsha.schools.by/">{{__ 'RCESRS'}}</a> — {{__ 'RCESRS_'}}</li>
            <li><a href="http://brasgymnasium.by/">{{__ 'BR'}}</a> — {{__ 'BR_'}}</li>
            <li><a href="http://www.kr-school.gomel.by/">{{__ 'SEIKSS'}}</a> — {{__ 'SEIKSS_'}}</li>
            <li><a href="https://gimn2volk.schools.by/">{{__ 'SEI2'}}</a> — {{__ 'SEI2_'}}</li>
            <li><a href="https://12novopolotsk.schools.by/">{{__ 'SEI12'}}</a> — {{__ 'SEI12_'}}</li>
            <li><a href="http://sch203.minsk.edu.by/">{{__ 'SEI203'}}</a> — {{__ 'SEI203_'}}</li>
            <li><a href="https://school12.vitebsk.by/">{{__ 'SEI12V'}}</a> — {{__ 'SEI12V_'}}</li>
            <li><a href="http://ddu137.minsk.edu.by/">{{__ 'SEI137'}}</a> — {{__ 'SEI137_'}}</li>
            <li><a href="http://sch7.baranovichi.edu.by/">{{__ 'SEI7'}}</a> — {{__ 'SEI7_'}}</li>
            <li><a href="https://sch12grodno.schools.by/">{{__ 'SEI12G'}}</a> — {{__ 'SEI12G_'}}</li>
        </ul>
        <div class="d6">
            <h3>{{__ 'RRCIES'}}</h3>
        </div><br>
        <ul class="list6b">
            <li><a href="http://sch3.pinsk.edu.by/">{{__ 'SEI3P'}}</a> — {{__ 'SEI3P_'}}</li>
            <li><a href="http://gymn4.vitebsk.edu.by/">{{__ 'GYM4V'}}</a> — {{__ 'GYM4V_'}}</li>
            <li><a href="https://gymn-schuchin.schools.by/">{{__ 'SEIGYM'}}</a> — {{__ 'SEIGYM_'}}</li>
            <li><a href="http://gymn.kostjukovichi.edu.by/">{{__ 'SEIKDS'}}</a> — {{__ 'SEIKDS_'}}</li>
            <li><a href="http://dsch4.schoolnet.by/news.shtml">{{__ 'SEI4D'}}</a> — {{__ 'SEI4D_'}}</li>
        </ul>


    </div>

    <div class="partners-block">
        <div class="main-header">
            <h3 id="partners"><span>{{__ 'PARTNERS'}}</span></h3>
        </div>

        <div class="partner-items">
            <div class="partner-item partner-reverse">
                <div class="partner-item-block">
                    <img src="/static/images/onn.jpg" alt="">
                    <div class="partner-item-block-name">
                        {{__ 'UN'}}
                    </div>
                </div>
                <div class="partner-item-container">
                    <p>
                        {{__ 'UN description 1'}}
                    <p>{{__ 'UN description 2'}}</p>
                    <p>{{__ 'UN description 3'}}</p>
                    </p>
                </div>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/proon.jpg" alt="{{__ 'UNITED NATIONS DEVELOPMENT PROGRAM'}}">
                <div class="partner-item-block-name">
                    {{__ 'UNITED NATIONS DEVELOPMENT PROGRAM'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'UNDP'}}
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/unisef.jpg" alt="">
                <div class="partner-item-block-name">
                    {{__ 'UN CHILDREN\'S FUND (UNICEF)'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'UNICEF'}}
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/dvv.jpg" alt="">
                <div class="partner-item-block-name">
                    DVV
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'DEUTSCHER VOLKSHOCHSCHUL-VERBAND'}}
                <ul class="list6b">
                    <li>{{__ 'assistance to activities'}}</li>
                    <li>{{__ 'expanding the range of services'}}</li>
                    <li>{{__ 'Strengthening adult education organizations and networking'}}</li>
                    <li>{{__ 'promoting the study of history'}}</li>
                    <li>{{__ 'lobbying and promoting the concept of adult education'}}</li>
                </ul>
                {{__ 'Festival of innovative ESD practices'}}
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse ">
            <div class="partner-item-block">
                <img src="/static/images/ibb.jpg" alt="{{__ 'OVERCOMING BORDERS'}}">
                <div class="partner-item-block-name">
                    {{__ 'OVERCOMING BORDERS'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'SUPPORT PROGRAM OF THE REPUBLIC OF BELARUS'}}
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/рнтб.jpg" alt="{{__ 'RLST'}}">
                <div class="partner-item-block-name">
                    {{__ 'RLST'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'THE REPUBLICAN SCIENTIFIC AND TECHNICAL LIBRARY'}}
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/ass.jpg" alt="{{__ 'EDUCATION FOR THE FUTURE'}}">
                <div class="partner-item-block-name">
                    {{__ 'EDUCATION FOR THE FUTURE'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'ASSOCIATION FOR PROMOTING THE DEVELOPMENT OF EDUCATIONAL INITIATIVES'}}
                <ul class="list6b">
                    <li>{{__ 'STEM-VECTOR'}}</li>
                    <li>{{__ 'PROFORIENTATION'}}</li>
                    <li>{{__ 'POPULARIZATION'}}</li>
                </ul>
                {{__ 'II International Symposium'}}
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/wila.jpg" alt="WILA BONN">
                <div class="partner-item-block-name">
                    WILA BONN
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'WILA BONN'}}
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/janun.jpg" alt="JANUN HANNOVER E.V.">
                <div class="partner-item-block-name">
                    JANUN HANNOVER E.V.
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'JANUN HANNOVER E.V.'}}
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>

        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/uni.jpg" alt="{{__ 'UNIVERSITY OF HILDESHEIM'}}'">
                <div class="partner-item-block-name">
                    {{__ 'UNIVERSITY OF HILDESHEIM'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'University of Hildesheim'}}
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/go.jpg" alt="{{__ 'INSTITUTE NAMED AFTER GOETHE'}}">
                <div class="partner-item-block-name">
                    {{__ 'INSTITUTE NAMED AFTER GOETHE'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'INSTITUTE NAMED AFTER GOETHE, MINSK, RB'}}
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>

        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/czech.jpg" alt="">
                <div class="partner-item-block-name">
                    {{__ 'CZECH FUNDRAISING CENTER'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'CZECH FUNDRAISING CENTER'}} → <a
                        href="https://fundraising.cz/point/">https://fundraising.cz/point/</a>
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/iearn.jpg" alt="iEARN">
                <div class="partner-item-block-name">
                    iEARN
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'iEARN'}}
                </p>
            </div>
            <div class="partner-item partner-reverse"></div>

        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/rce.jpg" alt="GLOBAL RCE NETWORK">
                <div class="partner-item-block-name">
                    GLOBAL RCE NETWORK
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'GLOBAL RCE NETWORK'}} https://www.rcenetwork.org/portal/rce-profile-detail/rce-belarus
                </p>
            </div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item partner-reverse">
            <div class="partner-item-block">
                <img src="/static/images/hz.jpg" alt="{{__ 'EARTH CHARTER title'}}">
                <div class="partner-item-block-name">
                    {{__ 'EARTH CHARTER title'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>{{__ 'EARTH CHARTER'}}</p>
            </div>
            <div class="partner-item partner-reverse"></div>
        </div>
    </div>

    <div class="partner-items">
        <div class="partner-item">
            <div class="partner-item-block">
                <img src="/static/images/kc.jpg" alt="{{__ 'COORDINATION CENTER'}}">
                <div class="partner-item-block-name">
                    {{__ 'COORDINATION CENTER'}}
                </div>
            </div>
            <div class="partner-item-container">
                <p>
                    {{__ 'EDUCATION FOR SUSTAINABLE DEVELOPMENT'}}
                </p>
            </div>
        </div>
    </div>

</div>
</div>