<form action="/events/add" method="POST" enctype="multipart/form-data">
    <span>{{form.message}}</span>
    <div class="addevent-container">
        <input name="title"
                maxlength="255"
                type="text"
                placeholder="{{__ 'title'}}*"
                value="{{form.title}}">
        <textarea name="messageShort"
                cols="30"
                maxlength="255"
                rows="10"
                placeholder="{{__ 'shortDescription'}}"
                value=="{{form.messageShort}}"></textarea>
        <textarea name="message"
                cols="30"
                maxlength="2048"
                rows="10"
                placeholder="{{__ 'Event'}}*"
                value="{{form.message}}"></textarea>
        <label>{{__ 'photo'}}</label>
        <input name="photo" type="file">
        <input name="photoDescription"
                maxlength="255"
                type="text"
                placeholder="{{__ 'photoDescription'}}"
                value="{{form.photoDescription}}">
        <button type="submit">{{__ 'create'}}</button>
    </div>
</form>
