<link rel="stylesheet" type="text/css" href="/static/css/addnew.css" />
<form action="/programs/add" method="POST" enctype="multipart/form-data">
        <h1 class="form__title">{{__ 'AddProgramTitle'}}</h1>
        <span>{{form.errmessage}}</span>
        <div class="template-container">
                <div class="form-input__container">
                        <input class="form__text-input" name="title" maxlength="255" type="text"
                                placeholder="{{__ 'title'}}*" value="{{form.title}}">
                        <textarea class="form__textarea " name="messageShort" cols="30" maxlength="255" rows="10"
                                placeholder="{{__ 'shortDescription'}}">{{form.messageShort}}</textarea>
                        <textarea class="form__textarea large" name="message" cols="30" maxlength="2048" rows="10"
                                placeholder="{{__ 'Program'}}*">{{form.message}}</textarea>
                        <button class="form__button" type="submit">{{__ 'create'}}</button>
                </div>

        </div>
</form>