<div>
    {{#if isAdmin}}
        <a href="/events/add">{{__ 'add'}}</a>
    {{/if}}
    {{#if Events.0.id}}
        {{#each Events}}
            <div>
                <a href="{{uriWithLocale 'events' this.id }}"><p>{{this.title}}</p></a>
                <p>{{#formatTime this.publishDate}}{{/formatTime}}</p>
                <p>{{this.messageShort}}</p>
            </div>
        {{/each}}
    {{else}}
        <p>{{__ 'noEvents'}}</p>
    {{/if}}
</div>
