<div>
    <a><p>{{Events.title}}</p></a>
    {{#if isAdmin}}
        <a href="/events/delete/{{Events.id}}">{{__ 'delete'}}</a>
    {{/if}}
    <p>{{#formatTime Events.publishDate}}{{/formatTime}}</p>
    <p>{{Events.descriptionShort}}</p>
    <p>{{Events.description}}</p>
    {{#each Photos}}
        {{#if ../isAdmin}}
            <a href="/events/photos/delete/{{this.id}}">{{__ 'delete'}}</a>
        {{/if}}
    {{/each}}
    <a href="{{uriWithLocale 'events'}}">{{__ 'back'}}</a>
</div>
