<div class="content-wrapper">
    {{#if isAdmin}}
    <div class="content__btn-containerr">
        <a class="content__link" href="/events/delete/{{Events.id}}">{{__ 'delete'}}</a>
    </div>
    {{/if}}
    <p class="content__title">{{Events.title}}</p>
    <p class="content__text">{{Events.description}}</p>
    <div class="content__gallery">
        {{#each Events.Photos}}
        <p>
            <img class="content__photo" src="/static/images/uploads/{{this.photoURL}}" alt={{this.photoDescription}} />
        </p>
        {{/each}}
    </div>
    <p class="content__date">{{#formatTime Events.publishDate}}{{/formatTime}}</p>
    <a class="content__link" href="{{uriWithLocale 'events'}}">{{__ 'back'}}</a>
</div>