<link rel="stylesheet" type="text/css" href="/static/css/news.css" />
<div class="content-wrapper">
    {{#if isAdmin}}
    <div class="content__btn-containerr">
        <a class="content__link" href="/events/add">{{__ 'add'}}</a>
    </div>
    {{/if}}
    {{#if Events.0.id}}
    <div class="content__items">
        {{#each Events}}
        <div class="content__item">
            <a class="content__link" href="{{uriWithLocale 'events' this.id }}">
                <p>{{this.title}}</p>
            </a>
            <p>{{this.descriptionShort}}</p>
            <p class="content__date">{{#formatTime this.publishDate}}{{/formatTime}}</p>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>{{__ 'noEvents'}}</p>
    {{/if}}
</div>