<div class="content-wrapper">
    {{#if isAdmin}}
    <form action="/library/addCategory" method="POST">
        <div class="form-input__container">
            <input class="form__text-input" name="title" maxlength="255" type="text" placeholder="{{__ 'Category'}}*">
            <button class="form__button" type="submit">{{__ 'addCategory'}}</button>
        </div>
    </form>
    {{/if}}
    {{#if Library.0.id}}
    {{#each Library}}
    <div>
        <h1>{{this.title}}</h1>
        {{#if ../isAdmin}}
        <form action="/library/addCategoryDoc/{{this.id}}" method="POST" enctype="multipart/form-data">
            <div class="form-input__container">
                <input class="form__text-input" name="title" maxlength="255" type="text" placeholder="{{__ 'File'}}*">
                <input type="file" name="file">
                <button class="form__button" type="submit">{{__ 'addFile'}}</button>
            </div>
        </form>
        {{/if}}
        {{#each this.CategoryDocs}}
        <a class="content__link content__file-upload" href="/static/files/uploads/{{this.path}}">{{this.title}}</a>
        {{/each}}
    </div>
    {{#if ../isAdmin}}
    <form action="/library/addSubcategory/{{this.id}}" method="POST">
        <div class="form-input__container">
            <input class="form__text-input" name="title" maxlength="255" type="text"
                placeholder="{{__ 'Subcategory'}}*">
            <button class="form__button" type="submit">{{__ 'addSubcategory'}}</button>
        </div>
    </form>
    {{/if}}
    {{#each this.Subcategories}}
    <div>
        <h2>{{this.title}}</h2>
    </div>
    {{#if ../../isAdmin}}
    <form action="/library/addSubcategoryDoc/{{this.id}}" method="POST" enctype="multipart/form-data">
        <div class="form-input__container">
            <input class="form__text-input" name="title" maxlength="255" type="text" placeholder="{{__ 'File'}}*">
            <input type="file" name="file">
            <button class="form__button" type="submit">{{__ 'addFile'}}</button>
        </div>
    </form>
    {{/if}}
    {{#each this.SubcategoryDocs}}
    <a class="content__link content__file-upload" href="/static/files/uploads/{{this.path}}">{{this.title}}</a>
    {{/each}}
    {{/each}}
    {{/each}}
    {{else}}
    <p>{{__ 'noCategories'}}</p>
    {{/if}}
</div>