 <div>
    <a><p>{{News.title}}</p></a>
    {{#if isAdmin}}
    <a href="/news/delete/{{News.id}}">Удалить</a>
    {{/if}}
    <p>{{#formatTime News.newDate}}{{/formatTime}}</p>
    <p>{{News.messageShort}}</p>
    <p>{{News.message}}</p>
    {{#if News.photoURL}}
    <img src="/static/images/uploads/{{News.photoURL}}" alt={{News.photoDescription}}/>
    {{/if}}
    <a href="/news/ru">Назад</a>
</div>