<div class="content-wrapper">
    {{#if isAdmin}}
    <div class="content__btn-containerr">
        <a class="content__link" href="/news/delete/{{News.id}}">{{__ 'delete'}}</a>
    </div>
    {{/if}}
    <p class="content__title">{{News.title}}</p>
    <p class="content__text">{{News.message}}</p>
    {{#if News.photoURL}}
    <img class="content__photo" src="/static/images/uploads/{{News.photoURL}}" alt={{News.photoDescription}} />
    {{/if}}
    <p class="content__date">{{#formatTime News.newDate}}{{/formatTime}}</p>
    <a class="content__link" href="{{uriWithLocale 'news'}}">{{__ 'back'}}</a>
</div>