<link rel="stylesheet" type="text/css" href="/static/css/news.css" />
<div class="content-wrapper">
    {{#if isAdmin}}
    <div class="news-btn-container">
        <a class="content__link" href="/news/add">{{__ 'add'}}</a>
    </div>
    {{/if}}
    {{#if News.0.id}}
    <div class="content__items">
        {{#each News}}
        <div class="content__item">
            <a class="content__link" href="{{uriWithLocale 'news' this.id }}">
                <p class="content__text">{{this.title}}</p>
            </a>
            <p>{{this.messageShort}}</p>
            <p class="content__date">{{#formatTime this.newDate}}{{/formatTime}}</p>
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>{{__ 'noNews'}}</p>
    {{/if}}
</div>