<div class="content-wrapper">
    {{#if isAdmin}}
    <div class="content__btn-containerr">
        <a class="content__link" href="/programs/delete/{{Programs.id}}">{{__ 'delete'}}</a>
    </div>
    {{/if}}
    <p class="content__title">{{Programs.title}}</p>
    <p class="content__text">{{Programs.message}}</p>
    <p class="content__date">{{#formatTime Programs.publishDate}}{{/formatTime}}</p>
    <a class="content__link" href="{{uriWithLocale 'programs'}}">{{__ 'back'}}</a>
</div>