<div class="content-wrapper">
    <a>
        <p>{{Programs.title}}</p>
    </a>
    {{#if isAdmin}}
    <a class="content__link" href="/programs/delete/{{Programs.id}}">{{__ 'delete'}}</a>
    {{/if}}
    <p>{{#formatTime Programs.publishDate}}{{/formatTime}}</p>
    <p>{{Programs.messageShort}}</p>
    <p>{{Programs.message}}</p>
    <a class="content__link" href="{{uriWithLocale 'programs'}}">{{__ 'back'}}</a>
</div>