<div class="content-wrapper">
    {{#if isAdmin}}
    <div class="content__btn-containerr">
        <a class="content__link" href="/projects/delete/{{Projects.id}}">{{__ 'delete'}}</a>
    </div>
    {{/if}}
    <p class="content__title">{{Projects.title}}</p>
    <p class="content__text">{{Projects.message}}</p>
    {{#if Projects.photoURL}}
    <img class="content__photo" src="/static/images/uploads/{{Projects.photoURL}}" alt={{Projects.photoDescription}} />
    {{/if}}
    <p class="content__date">{{#formatTime Projects.publishDate}}{{/formatTime}}</p>
    <a class="content__link" href="{{uriWithLocale 'projects'}}">{{__ 'back'}}</a>
</div>